<script type="text/javascript" src="Chart.js"></script>
<script type="text/javascript" src="chartjs-plugin-style.js"></script>

<div class="wrapper">
  <div class="text">
    <div class="top">
      <h2>Monthly</h2>
      <i class="la la-ellipsis-h"></i>
    </div>
    <div class="bottom">
      <div class="bottom-left">
        <h2>{{ data?.total | currency }}</h2>
        <span>Total income</span>
      </div>
      <div class="bottom-right" (click)="toggleStatus()">
        <span class="income" [@dialog]="this.status ? 'on' : 'off' ">Income</span>
        <span class="outcome" [@dialog]="!this.status ? 'on' : 'off' ">Outcome</span>
      </div>
    </div>
  </div>
  <canvas #canvas id="line-chart-canvas" height="245">{{ chart }}</canvas>
</div>
