@import '../../styles';

$white: #FFFFFF;

.wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-bottom: 14px;
  background: $white;
  font-family: 'Roboto';
  overflow: hidden;

  .text {
    margin-top: 13px;
    margin-left: 12.2px;

    h2, h3 {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: inherit;
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      position: relative;

      h2 {
        position: relative;

        &:before {
          position: absolute;
          bottom: -16px;
          left: -1px;
          content: "";
          height: 2px;
          width: 52px;
          background-color: $primary-dark;
        }
      }

      i {
        font-size: 18px;
        margin-top: -3px;
        margin-right: 11px;
      }

      &:before {
        position: absolute;
        bottom: -1px;
        left: -23px;
        content: "";
        height: 1px;
        width: 362px;
        background-color: $background-1;
      }

    }

    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;
      margin-bottom: 19px;

      .bottom-left {
        h2 {
          font-size: 26px;
          font-weight: 400;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          color: $secondary-dark-2;
        }
      }

      .bottom-right {
        cursor: pointer;
        user-select: none;
        position: relative;
        height: fit-content;
        border-radius: 50px;
        padding: 10px 0;
        margin-top: 7px;
        margin-right: 12px;
        background: $background-2;
        font-family: 'Rubik';
        padding-left: 37px;
        padding-right: 13px;
        font-size: 14px;
        color: $primary-dark;

        span {
          position: relative;

          &:before {
            position: absolute;
            top: 3px;
            left: -21px;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
        }

        .income::before {
          background-color: $primary;
        }

        .outcome::before {
          background-color: $secondary-1;
        }
      }
    }
  }

  &:before {
    position: absolute;
    bottom: 44px;
    left: 24px;
    content: "";
    height: 11px;
    width: 100%;
    background-color: $white;
  }

  #line-chart-canvas {
    width: 100%;
  }
}
