@import '../../palette.scss';

$white: #fff;
$light-orange: #FFF7E9;

.empty-account-container {
    box-sizing: border-box;
    background-color: $background-2;

    section {
        padding: 30px;

        .image-box {
            display: flex;
            justify-content: center;
            margin-bottom: 90px;
        }

        .title {
            color: $secondary-dark-1;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            padding: 20px;
            margin-bottom: 20px;
            cursor: pointer;

            .box {
                display: flex;
                align-items: center;

                .add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    width: 50px;
                    height: 50px;
                    background: $light-orange;
                    text-decoration: none;

                    &::before {
                        content: '\f2c3';
                        color: $primary;
                        font-family: 'LineAwesome', sans-serif;
                        font-weight: 900;
                    }
                }
            }

            .icon-txt {
               text-decoration: none;

               a{
                   text-decoration: none;
               }

                .mini-text {
                    color: $secondary-dark-1;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    margin: 0;
                }
            }

            .progress {
                margin-right: 120px;

                .thick {
                    width: 158px;
                    height: 7px;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }

                .thin {
                    width: 105px;
                    height: 6px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }
            }

            .progress-scnd {
                margin-right: 200px;

                .thick-scnd {
                    width: 222px;
                    height: 8px;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }

                .thin-scnd {
                    width: 147px;
                    height: 6px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }
            }
        }
        .content-scnd {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            padding: 20px;
            cursor: pointer;

            .box {
                display: flex;
                align-items: center;

                .add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    width: 50px;
                    height: 50px;
                    background: $light-orange;
                    text-decoration: none;

                    &::before {
                        content: '\f2c3';
                        color: $primary;
                        font-family: 'LineAwesome', sans-serif;
                        font-weight: 900;
                    }
                }
            }

            .icon-txt {

                a{
                    text-decoration: none;
                }

                .mini-text {
                    color: $secondary-dark-1;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    margin: 0;
                }
            }

            .progress {
                margin-right: 120px;

                .thick {
                    width: 158px;
                    height: 7px;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }

                .thin {
                    width: 105px;
                    height: 6px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }
            }

            .progress-scnd {
                margin-right: 200px;

                .thick-scnd {
                    width: 222px;
                    height: 8px;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }

                .thin-scnd {
                    width: 147px;
                    height: 6px;
                    padding: 5px;
                    border-radius: 50px;
                    background-color: $outline;
                }
            }
        }
    }
}
