<div class="empty-account-container">
    <section>
        <div class="image-box">
            <img src="/tbc-bootcamp-frontend-banking/assets/dashboard-empty-accounts/Illustration.png" alt="ill">
        </div>
        <h5 class="title">Your Cards</h5>
        <div class="content" routerLink="/cards/new" [queryParams]="{type: 'debit'}">
            <div class="box">
                <a class="add"></a>
                <div class="icon-txt">
                    <a>Add your new card</a>
                    <h5 class="mini-text">Card details</h5>
                </div>
            </div>
            <div class="progress">
                <div class="thick"></div>
                <div class="thin"></div>
            </div>
            <div class="progress-scnd">
                <div class="thick-scnd"></div>
                <div class="thin-scnd"></div>
            </div>
        </div>
        <h5 class="title">Open Deposit</h5>
        <div class="content-scnd" routerLink="/cards/new" [queryParams]="{type: 'deposit'}">
            <div class="box">
                <a class="add"></a>
                <div class="icon-txt">
                    <a>Open new deposit</a>
                    <h5 class="mini-text">Card details</h5>
                </div>
            </div>
            <div class="progress">
                <div class="thick"></div>
                <div class="thin"></div>
            </div>
            <div class="progress-scnd">
                <div class="thick-scnd"></div>
                <div class="thin-scnd"></div>
            </div>
        </div>
        <h5 class="title">Credit Cards</h5>
        <div class="content" routerLink="/cards/new" [queryParams]="{type: 'credit'}">
            <div class="box">
                <a class="add"></a>
                <div class="icon-txt">
                    <a>Add your credit card</a>
                    <h5 class="mini-text">Card details</h5>
                </div>
            </div>
            <div class="progress">
                <div class="thick"></div>
                <div class="thin"></div>
            </div>
            <div class="progress-scnd">
                <div class="thick-scnd"></div>
                <div class="thin-scnd"></div>
            </div>
        </div>
    </section>
</div>
