<div>
    <form [formGroup]="searchForm">
        <label class="input-container">
            <span><i class="la la-search"></i>
                Find Cryptocurrency
            </span>
            <input type="text" placeholder="Type to Search" formControlName="search">
        </label>
        <label>
            <span><i class="la la-credit-card"></i>
                Currency
            </span>
            <app-select-fields [list]="list" formControlName="currency"></app-select-fields>
        </label>
    </form>
</div>
<app-table [content]="array" [headers]="cryptoheaders">
    <tr *ngFor="let cryptocurrency of array">
        <td>
            <div>
                <img src="https://www.cryptocompare.com{{cryptocurrency.Image}}">
                <span>
                    {{cryptocurrency.Name}}
                </span>
                <span>
                    {{cryptocurrency.Symbol}}
                </span>
            </div>
        </td>
        <td>{{cryptocurrency.Price}}</td>
        <td>{{cryptocurrency.MarketCap}}</td>
        <td>{{cryptocurrency.Volume}}</td>
        <td>{{cryptocurrency.TotalVol}}</td>
        <td [class.green-c]="cryptocurrency.Changes24H > 0" [class.red-c]="cryptocurrency.Changes24H < 0">
            {{cryptocurrency.Changes24H}}%
        </td>
        <td [class.green-c]="cryptocurrency.Changes7D > 0" [class.red-c]="cryptocurrency.Changes7D < 0">
            {{cryptocurrency.Changes7D}}%
        </td>
    </tr>
</app-table>