@import '../../palette.scss';
@import '../../typography.scss';
@import '../../inputs.scss';

form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    label {
        display: flex;
        align-items: center;
        margin: 10px 10px 10px 10px;
        
        > span {
            font-family: $Roboto;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 12px;
            color: $secondary-dark-1;
            margin-right: 10px;
        }

        input {
            font-family: $Roboto;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

tr {
    border-bottom: 1px solid $outline;
    & > td {
      padding: 20px;
      font-size: 14px;
      font-weight: 400;
      color: $primary-dark;
      margin-left: 100px;
      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
      > div {
        align-items: center;
        display: flex;
        span {
          margin-left: 15px;
        }
      }
    }
    &:hover {
      background: $background-1;
    }
    .red-c {
      color: $secondary-3;
    }
    .green-c {
      color: $secondary-2;
    }
    &:last-child {
      border-bottom: none;
    }
  }

img {
    height: 30px;
    width: 30px;
}

div {
    display: flex;
    text-align: center;
}