@import '../../palette.scss';
@import '../../typography.scss';

.table-wrap {

  table {
    border-collapse: collapse;
    border-top: 1px solid $outline;
    border-radius: 5px;
    font-family: $Roboto;
    width: 100%;

    thead {

      tr {

        &:hover {
          background: none;
        }

        .high {
          padding: 20px 10px 20px 35px;
        }

        th {
          padding: 20px;
          font-size: 14px;
          font-weight: 400;
          color: $secondary-dark-2;

          > div {
            display: flex;
            align-items: center;

            a {

              i {
                font-size: 15px;
                color: $secondary-dark-2;
                cursor: pointer;

                &:hover {
                  color: $primary-dark;
                }

                &:last-of-type {
                  margin-right: 7px;
                }
              }
            }

            .active {

              i {
                color: $primary-dark;
              }
            }
          }
        }

        .last {
          padding: 20px 5px;

          div {

            i {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}
