<div class="table-wrap">
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders; let i = index">
                    <div>
                        <a *ngIf="sortedAsc !== i" title="Ascending sort by '{{header}}'"
                         (click)="ascSort(i)"><i  class="la la-sort-amount-asc"></i></a>
                        <a *ngIf="sortedAsc === i" title="Descending sort '{{header}}'"
                         (click)="descSort(i)"><i  class="la la-sort-amount-desc"></i></a>
                        {{header}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-content></ng-content>
        </tbody>
    </table>
</div>
