<div class="container">
  <div class="wrapper">
    <form *ngIf="frm" (ngSubmit)="onSubmit(frm.value)" [formGroup]="frm">
      <div>
        <h1>Payment limits</h1>
        <div class="block" *ngIf="showDebit">
          <p class="title">Debits</p>
          <div class="left-side">
            <label>Current limit</label>
            <label class="input-container">
              <input type="text" formControlName="cashWithdrawalsLimit" (keyup)="changeVal('cashWithdrawalsLimit')"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
              <div class="spinner-button-minus" (click)="onMinus('cashWithdrawalsLimit')"></div>
              <div class="spinner-button-plus" (click)="onPlus('cashWithdrawalsLimit')"></div>
            </label>
          </div>
          <div class="right-side">
            <p>Amount</p>
            <p class="money">{{val1 }} USD</p>
            <div class="wrapper"></div>
            <div class="progress-bar">
              <app-progress-bar [endPoint]="debitsProgress || 0" [color]="debitsProgress >= 100 ? color[1] : color[0]">
              </app-progress-bar>
            </div>
          </div>
        </div>

        <div class="block" *ngIf="showCredit">
          <p class="title">Credits</p>
          <div class="left-side">
            <label>Current limit</label>
            <label class="input-container">
              <input type="text" formControlName="bankTransactionsLimit" (keyup)="changeVal('bankTransactionsLimit')"
                oninput="this.value1 = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
              <div class="spinner-button-minus" (click)="onMinus('bankTransactionsLimit')"></div>
              <div class="spinner-button-plus" (click)="onPlus('bankTransactionsLimit')"></div>
            </label>
          </div>

          <div class="right-side">
            <p>Amount</p>
            <p class="money">{{val2}} USD</p>
            <div class="wrapper"></div>
            <div class="progress-bar">
              <app-progress-bar [endPoint]="creditsProgress || 0"
                [color]="creditsProgress >= 100 ? color[1] : color[0]">
              </app-progress-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="send-buttons">
        <button class="btn-update">Update Settings</button>
      </div>
    </form>
  </div>
</div>
