@import "~src/styles";

.container {
  width: 695px;
  padding-left: 13px;
  height: 100%;

  .wrapper {
    height: 100%;
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h1 {
      font-weight: 500;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 21px;
    }

    .block {
      height: 134px;
      margin-bottom: 40px;
      &::after {
        content: "";
        display: table;
        clear: both;
      }
      .title {
        color: $secondary-dark-2;
        font-size: 14px;

        &:after {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          margin-top: 15px;
          height: 1px;
          clear: both;
          background-color: $outline;
        }
      }

      .left-side {
        width: 336px;
        float: left;

        label {
          display: block;
          font-family: $Roboto;
          font-size: 14px;
          color: $primary-dark;
          margin-bottom: 17px;

          input[type="number"] {
            -moz-appearance: textfield;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }

        input {
          border-radius: 4px;
          height: 52px;
          width: 336px;

          &:focus {
            outline: none;
          }
        }
      }

      .right-side {
        float: right;
        width: 336px;
        margin-top: -12px;

        p {
          font-size: 14px;
          float: left;
        }

        .money {
          font-weight: 700;
          float: right;
        }
        .wrapper {
          margin-bottom: 49px;
        }

        .progress-bar {
          height: 51px;
          background: $outline;
          padding: 23px;
          border-radius: 4px;

          progress {
            width: 292px;
            position: relative;
            margin-left: 24px;
            margin-top: 20px;
            height: 4px;
          }
        }
      }
    }
  }
  .send-buttons {
    text-transform: uppercase;
  }

  .spinner-button-minus {
    font-size: 23px;
    margin-top: -41px;
    margin-left: 262px;

    &::after {
      content: "\f28f";
      font-family: "LineAwesome";
    }
  }

  .spinner-button-plus {
    font-size: 23px;
    margin-top: -29px;
    margin-left: 292px;

    &::after {
      content: "\f2c3";
      font-family: "LineAwesome";
    }
  }
}
