@import "../../styles.scss";
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  form {
    margin: auto;

    & .card {
      position: relative;

      &::before {
        content: "";
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 10;
        width: 41px;
        height: 27px;
        top: 48px;
        left: 10px;
      }

      &.visa::before {
        background-image: url("/tbc-bootcamp-frontend-banking/assets/registration/visa.png");
      }
      &.master::before {
        background-image: url("/tbc-bootcamp-frontend-banking/assets/registration/master.png");
      }

      &.other::before {
        background-image: url("/tbc-bootcamp-frontend-banking/assets/registration/other.png");
      }

      & input {
        padding-left: 55px;
      }
    }

    input {
      width: 100%;
      position: relative;

      &.ng-dirty.ng-invalid {
        border: solid $secondary-3 2px;
        outline-color: $secondary-3;
      }

      &[type="radio"] {
        display: none;
        width: 146px;
      }

      &[type="radio"] + label {
        display: inline-block;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: solid $background-1 1px;
        color: black;
        border-radius: 5%;
        margin-right: 20px;
        cursor: pointer;
      }
      &[type="radio"]:checked + label {
        background-image: none;
        background-color: $primary;
        color: white;
      }
    }
  }
}
h1 {
  color: $primary;
  margin-bottom: 113px;
  font-size: 34px;
  text-align: center;
}

h2 {
  margin-bottom: 14px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.4px;
}
p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  text-align: center;

  margin-bottom: 39px;
}

label {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;

  margin-bottom: 16px;

  span {
    font-size: 13px;
    color: $secondary-3;
  }
}

.step-body {
  & form {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;

      & .radio {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;

        & label {
          margin-bottom: 0px;
        }
      }

      &.row {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;

        div {
          input {
            width: 100%;
          }
        }
      }

      .license {
        display: flex;
        flex-direction: row;

        label {
          display: flex;
          flex-direction: row-reverse;
          color: $background-1;

          span {
            margin-left: 10px;
            color: $primary-dark;
          }
        }
      }
    }
  }
}

.step-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    font-family: Roboto;
    font-size: 14px;
    border: none;
    background-color: white;
    color: $primary-dark;
    cursor: pointer;
    margin: auto;

    &.next {
      color: $primary;
    }
  }
}

.img {
  position: relative;
  width: 323px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;

  img {
    position: absolute;
    height: 100%;
  }
}
