<div class="input-container">
  <form [formGroup]="mainForm">
    <app-stepper [complete]="complete" [error]="registerError" [forceGo]="goToStep">
      <app-step [formGroup]="registrationFormStep1">
        <div>
          <h2>Register new account</h2>
          <p>
            Please sign in to your personal account if yourwant to <br> use all our premium
            products
          </p>
          <div class="step-body">
            <form [formGroup]="registrationFormStep1">
              <div>
                <label>Your email
                  <span *ngIf="email.invalid && email.dirty">
                    <span *ngIf="email.errors.required">Email is required</span>
                    <span *ngIf="email.errors.email">Email is incorrect</span>
                  </span>
                </label>
                <input placeholder="Enter your email" formControlName="email" type="text" />
              </div>
              <div>
                <label>Password
                  <span *ngIf="password.invalid && password.dirty">
                    <span *ngIf="password.errors.required">Password is required</span>
                  </span>
                </label>
                <input placeholder="Enter your password" formControlName="password" type="password" />
              </div>
            </form>
          </div>
        </div>
        <div class="step-footer">
          <button class="btn next" [observable]="createUser(mainForm.value)" appStepperNext>NEXT</button>
        </div>
      </app-step>


      <app-step [formGroup]="registrationFormStep2">
        <div>
          <h2>Personal details</h2>
          <p>
            please sign in to your personal accaunt if you want to <br> use all
            our premium products
          </p>
          <div class="step-body">
            <form [formGroup]="registrationFormStep2">
              <div>
                <label>Your accaunt number
                  <span *ngIf="accNumberTaken">Use different accaunt number</span>
                  <span *ngIf="accNumber.invalid && accNumber.dirty">
                    <span *ngIf="accNumber.errors.required">Account number is required</span>
                  </span>
                </label>
                <input placeholder="Enter your number" formControlName="accNumber" type="text" />
              </div>
              <div>
                <label>Address line
                  <span *ngIf="address.invalid && address.dirty">
                    <span *ngIf="address.errors.required">Address is required</span>
                  </span>
                </label>
                <input placeholder="Enter your address" formControlName="address" type="text" />
              </div>
              <div class="row">
                <div>
                  <label>City
                    <span *ngIf="city.invalid && city.dirty">
                      <span *ngIf="city.errors.required">Address is required</span>
                    </span>
                  </label>
                  <input placeholder="Enter your city" formControlName="city" type="text" />
                </div>
                <div>
                  <label>Zip code
                    <span *ngIf="zip.invalid && zip.dirty">
                      <span *ngIf="zip.errors.required">Zip is required</span>
                      <span *ngIf="zip.errors.pattern">ex. 3**** </span>
                    </span>
                  </label>
                  <input placeholder="Enter your zip" formControlName="zip" type="text" />
                </div>
              </div>
              <div>
                <label>State
                  <span *ngIf="state.invalid && state.dirty">
                    <span *ngIf="state.errors.required">State is required</span>
                  </span>
                </label>
                <input placeholder="Enter your state" formControlName="state" type="text" />
              </div>
              <div>
                <label>
                  <span class="error" *ngIf="gender.invalid && gender.dirty">
                    <span *ngIf="gender.errors.required">Gender is required</span>
                  </span>
                </label>
                <app-radio-button required="true" formControlName="gender" title="sex" [selectors]="['male','female']">
                </app-radio-button>
              </div>
            </form>
            <!-- {{mainForm.value | json}} -->
          </div>
        </div>
        <div class="step-footer">
          <button class="next" appStepperNext>NEXT</button>
        </div>
      </app-step>

      <app-step [formGroup]="registrationFormStep3">
        <div>
          <h2>Account details</h2>
          <p>
            please sign in to your personal accaunt if you want to <br> use all
            our premium products
          </p>
          <div class="step-body">
            <form [formGroup]="registrationFormStep3">
              <div>
                <label>Select your plan</label>
                <div class="radio">
                  <input id="radio1" type="radio" formControlName="plan" name="plan" value="individual">
                  <label for="radio1">Individual</label>
                  <input id="radio2" type="radio" formControlName="plan" name="plan" value="small business">
                  <label for="radio2">Small Business</label>
                  <input id="radio3" type="radio" formControlName="plan" name="plan" value="corporate">
                  <label for="radio3">Corporate</label>
                </div>
              </div>
              <div class="card"
                [ngClass]="{'visa': cardType == 'visa','master': cardType == 'master','other': cardType == 'other'}">
                <label>select primary account<span *ngIf="primaryCardTaken&&!phone.invalid">Use different Primary
                    Account</span>
                  <span *ngIf="primaryAccount.invalid && primaryAccount.dirty">
                    <span *ngIf="primaryAccount.errors.required"> Primary Account is required</span>
                    <span *ngIf="primaryAccount.errors.pattern">Primary must consist 16 numbers</span>
                  </span>
                </label>
                <input placeholder="Enter your Account" (keyup)="checkCard()" formControlName="primaryAccount"
                  type="text" />
              </div>
              <div>
                <label>Enter your phone number
                  <span *ngIf="phoneTaken&&!phone.invalid">Use different Phone number</span>
                  <span *ngIf="phone.invalid && phone.dirty">
                    <span *ngIf="phone.errors.required">Phone is required</span>
                    <span *ngIf="phone.errors.pattern">Phone must consist 7 numbers</span>
                  </span>
                </label>
                <input placeholder="Enter your phone" formControlName="phone" type="text" />
              </div>
              <div>
                <div class="license">
                  <label>
                    <span *ngIf="license.invalid && license.dirty">
                      <span *ngIf="license.errors.required">please accept license</span>
                    </span>
                    <app-checkbox required="true" formControlName="license" title="I accept license agreement">
                    </app-checkbox>
                  </label>
                </div>
                <div class="license">
                  <label>
                    <app-checkbox required="true" formControlName="newsSubscribe" title="I want to get news">
                    </app-checkbox>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="step-footer">
          <button appStepperPrevious>BACK</button>
          <button class="next" *ngIf="mainForm.invalid" (click)="makeLatsStepDirty()">Finish</button>
          <button class="next" (click)="submit(mainForm.value)" *ngIf="!mainForm.invalid">Finish</button>
        </div>

      </app-step>

      <app-step>
        <div>
          <div class="img">
            <img src="/tbc-bootcamp-frontend-banking/assets/registration/finish.png" alt="">
          </div>
          <h2>Registation Complete</h2>
          <p>
            please sign in to your personal accaunt if you want to<br> use all
            our premium products
          </p>
        </div>
        <div class="step-footer">
          <button (click)="goLogin()">Go TO LOGIN</button>
        </div>
      </app-step>
    </app-stepper>
  </form>
</div>