<div class="container">
    <div class="inner-container">
        <span class="border-box">
            <p>
                !
            </p>
        </span>
        <span>
            <h1>404</h1>
            <p>Not found</p>
        </span>
    </div>
    <button [routerLink]="['/dashboard']">Take me back to Dashboard</button>
</div>