@import "../../palette.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10% 15% 15% 15%;
    height: 100vh;
    background-color: $outline;

    .inner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        background-color: $background-1;
        border-radius: 5px;
    }
    
    h1 {
        font-size: 70px;
        font-weight: bolder;
    }
    
    p {
        text-transform: uppercase;
        font-size: 40px;
        color: $primary;
        font-weight: 600;
    }

    .border-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        border: 10px solid $primary;
        margin-right: 20px; 
        border-radius: 5px;

        P {
            font-size: 100px;
            line-height: 0;
            margin-left: 0;
            color: $primary-dark;
        }

    }

    button {
        margin-top: 50px;
    }
}
