<emojify-holder class="textarea-container" (emojiAdded)="emojiAdded($event)">
  <label [ngClass]="{text: value, disabled: disabled, required: required}">
  <textarea
    class="form-control textarea-with-emoji" placeholder="Your message" [required]="required"
    (change)="changeValue($event.target.value)" [disabled]="disabled" (blur)="onTouched()"
    emojiInput [emojiInputValue]="value" [(ngModel)]="value"></textarea>
  </label>
</emojify-holder>
