@import "../../palette";

.textarea-container {
  display: block;
  width: 360px;
  min-height: 90px;
  padding-right: 10px;

  .emoji {
    text-decoration: none;
    &:after {
      content: '\f28a';
      color: $secondary-dark-2;
      left: 22px;
      bottom: 33px;
      position: relative;
      display: block;
      font-family: 'LineAwesome', serif;
      font-size: 16px;
    }
  }

  .textarea-with-emoji {
    left: 40px;
    top: 40px;
    width: 360px;
    height: 90px;
    font-family: 'Roboto', sans-serif;
    color: $primary-dark;
    border: $outline 1px solid;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    padding: 15px 0 0 19px;

    &[disabled] {
      background-color: $background-2;
      border: none;
    }
  }


  .emoji-input-holder {

    & .eih-smiley{
      position: absolute;
      left: 23px;
      bottom: 17px;
      font-size: 19px;
      width: 20px;
      cursor: pointer;
      outline: none;
    }

     & .eih-emojis-dialog {
      border-radius: 4px;
      width: 200px;
      height: 201px;
      left: 1px;
      font-size: 21px;

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar
      {
        width: 12px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb
      {
        height: 40px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #D62929;
      }
    }
  }
}
