<div class="wrap">
    <app-card *ngIf="account" [account]="account" [type]="type"></app-card>
    <div class="right">

        <app-bank-transactions title='Latest transactions' [smallMode]="true"></app-bank-transactions>
        <app-credit-overview *ngIf="type === 'MORTGAGE'" [amount]="account.amount"
            [interestRate]="account.rate / 100 * account.amount" [paid]="account.paid"></app-credit-overview>
    </div>
</div>