div.wrap {
    display: flex;

    >* {
        flex: 1;
    }

    .right {
        display: flex;
        flex-direction: column;
        >* {
            display: flex;
            align-items: flex-end;
            flex: 1;
        }

        ::ng-deep app-bank-transactions>section.transactions {
            height: 100%;
            margin-top: 0;

            >div.list {
                height: unset;

                & .inner-list {
                    height: calc(555px - 293px);

                }
            }
        }
    }
}