@import "../../palette";
@import "../../typography";

$white: #ffffff;

.avaliable-balance {
  display: flex;
  flex-direction: column;
  width: 555px;
  border-radius: 4px;
  background-color: $white;

  > h5 {
    padding: 23px 29px;
    border-bottom: 1px solid $background-1;
    margin: 0;
  }

  .avaliable-cards {
    display: flex;
    flex-direction: column;
    padding: 0px 22px 22px 22px;

    .avaliable-card {
      position: relative;
      display: flex;
      border-bottom: 1px solid $outline;
      padding-bottom: 15px;
      padding-top: 22px;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }

      .card-logo {
        width: 59px;
        height: 40px;
        margin-right: 22px;

        &.visa::before {
          content: url(../../assets/accounts-balance/visa.png);
        }

        &.mastercard::before {
          content: url(../../assets/accounts-balance/mastercard.png);
        }
      }

      .card-information {
        display: flex;
        flex-direction: column;

        h5 {
          margin: 0;
        }

        p {
          margin: 0px 0px 4px 0px;
          font-size: 14px;
          line-height: 21px;
          color: $secondary-dark-2;
        }
      }

      .card-balance {
        position: absolute;
        right: 0;

        > h5 {
          margin: 0px 0px 4px 0px;
          letter-spacing: 0.2px;

        }

        p {
          margin: 0;
          font-size: 14px;
          line-height: 21px;
          color: $secondary-dark-2;
        }
      }
    }
  }
}
