<div class="avaliable-balance">
  <h5>Available balance</h5>
  <div class="avaliable-cards">
    <div class="avaliable-card" *ngFor="let card of cards">
      <div class="card-logo" [ngClass]="card.type">
      </div>
      <div class="card-information">
        <h5>{{ card.cardTypes.original }}</h5>
        <p>Card number</p>
      </div>
      <div class="card-balance">
        <h5>{{ card.amount | currency }}</h5>
        <p>Balance</p>
      </div>
    </div>
  </div>
</div>
