@import "../../palette.scss";
@import "../../typography.scss";

$white: #ffffff;

.toggle-component {
  display: flex;

  span {
    font-family: $Roboto;
    font-size: 14px;
    line-height: 20px;


    &.disabled {
      pointer-events: none;
      background: #ccc;
      opacity: 0.5;
    }

  }

  .toggle {
    width: 40px;
    height: 22px;
    border-radius: 12px;
    padding: 3px;
    transition: all 500ms ease-in-out;
    margin-right: 18px;

    &.disabled {
      pointer-events: none;
      background: #ccc;
      opacity: 0.5;
    }

    &.off {
      background: $background-1;

      & + span {
        color: $secondary-dark-1;
      }

      .circle {
        background: $secondary-dark-2;
      }
    }

    &.on {
      background: $primary;

      & + span {
        color: $primary-dark;
      }

      .circle {
        margin-left: 18px;
        background: $white;
      }
    }

    .circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}
