<div class="toggle-component">
    <div class="toggle" (click)="change()" [ngClass]="{'on': value, 'off' : !value, 'disabled': disabled}">
        <div class="circle"> </div>
    </div>
    <span>{{title}}</span>
</div>
