@import '../../palette.scss';

$white: #FFFFFF;

.news-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0 20px;
  background-color: $white;
  overflow: auto;


  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 54px;
    zoom: 1;
    width: 290px;
    height: 1px;
    background-color: $background-1;
  }


  .content {
    display: flex;
    overflow: auto;
    border-bottom: 1px solid $background-1;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 96px;
      margin-right: 20px;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 77%;

      .article-header {

        & > h5 {
          margin: 0;
        }

        & > h6 {
          margin: 0;
          font-size: 14px;
          font-weight: 400;

          & > span {

            &::before {
              content: "\f1a1";
              font-family: 'LineAwesome', sans-serif;
            }
          }
        }
      }

      .article-content {

        p {
          font-size: 14px;
          font-weight: 200;
          letter-spacing: 1px;
        }
      }
    }
  }

  .loader {
    display: flex;
    align-self: center;
    width: 64px;
    height: 64px;
    margin: auto;

    &:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid $primary-dark;
      border-color: $primary transparent $secondary-1 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  & a {
    cursor: pointer;
    font-size: 16px;

    &:last-child {
      margin-left: 20px;
    }
  }
}
