<section class="news-list-container">
  <div *ngFor="let data of datas" class="content">
    <div class="img">
      <img src="{{data.urlToImage}}" alt="profile image">
    </div>
    <div class="article">
      <div class="article-header">
        <h5>{{data.title}}</h5>
        <h6>{{data.publishedAt}} <span></span></h6>
      </div>
      <div class="article-content">
        <p>{{data.description}}</p>
      </div>
    </div>
  </div>
  <div class="loader" *ngIf="loader"></div>
  <a (click)="addInfo()">{{showMore ? 'Show More' : ''}}</a>
  <a (click)="showLessinfo()">{{showLess ? 'Show Less' : ''}}</a>
</section>
