<div class="card" *ngIf="account">
    <div class="header">
        <div class="left">
            <div class="img-wrap {{type}}" [ngStyle]="theme[type]['headerIcon']">
            </div>
            <caption>
                {{ content[type].header(account)}}
            </caption>
        </div>
        <p class="secondary-dark-2">
            ${{ account.amount }}
        </p>
    </div>
    <div class="content">
        <div class="payment-card-wrap">
            <div class="payment-card" [ngStyle]="theme[type]['payment-card']">
                <div class="background">
                    <img src="assets/cards/payment-card-background.png">
                    <img src="assets/cards/payment-card-background.png">
                </div>

                <div class="img-wrap {{type}}" [ngStyle]="theme[type].cardIcon[account.type]">
                </div>

                <div class="card-content">
                    <div class="top" *ngIf="account">
                        <div class="card-number-wrap">
                            <div class="number">
                                {{ content[type].paymentCard.top.value(account) }}
                            </div>
                            <div class="label">
                                {{ content[type].paymentCard.top.label }}
                            </div>
                        </div>
                    </div>

                    <div class="bottom" *ngIf="account">
                        <div class="name-wrap">
                            <h1>{{ content[type].paymentCard.left.value(account) }}</h1>
                            <div class="label">{{content[type].paymentCard.left.label}}</div>
                        </div>

                        <div class="expiration-wrap" *ngIf="content[type].paymentCard.right">
                            <h1>{{content[type].paymentCard.right.value(account)}}</h1>
                            <div class="label"> {{ content[type].paymentCard.right.label }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tr *ngFor="let tr of content[type].table">
                <td>{{ tr.label }}</td>
                <td>
                    <span *ngIf="!tr.toggle">
                        {{
                            tr.format ? tr.format(account[tr.key]) : account[tr.key]
                        }}
                    </span>
                    <app-toogle *ngIf="tr.toggle" (click)="changeSecurity(account)" [value]="account[tr.key]" ></app-toogle>
                </td>
            </tr>
        </table>
    </div>
    <div class="buttons">
        <button class="resting" (click)="delete()">
            <span>delete</span>
        </button>
    </div>
</div>