@import "../../palette";

.card {
    position: relative;
    width: 555px;
    height: 716px;
    background: white;
    border-radius: 4px;
    margin-right: 30px;

    >div {
        padding: 0 24px;
        position: relative;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 14px 25px;

        .img-wrap {
            display: inline-flex;
            width: 42px;
            height: 28px;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-right: 23.7px;

            &::after {
                content: "";
                height: 100%;
                width: 100%;
                border-radius: 4px;
                opacity: 0.1;
                position: absolute;

            }

            &::before {
                width: 16px;
                height: 18px;
                font-family: "LineAwesome";
                font-size: 16px;
                font-weight: 500;
            }

            &.CARD {
                &::after {
                    background: $background-2;

                }

                &::before {
                    display: none;
                    color: $background-2;
                }
            }

            &.DEPOSIT {
                &::after {
                    background: $primary;

                }

                &::before {
                    content: "\f360";
                    color: $primary;
                }
            }

            &.MORTGAGE {
                &::after {
                    background: $secondary-2;

                }

                &::before {
                    content: "\f154";
                    color: $secondary-2;
                }
            }
        }

        caption {
            display: inline;
        }

        p {
            font-size: 14px;
        }

        .left {
            display: flex;
            align-items: center;
        } 

        &::after {
            content: "";
            width: 555px;
            display: block;
            left: 0;
            top: 100%;
            position: absolute;
            height: 1px;
            background: $background-1;
        }
    }

    .content {
        .payment-card-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 45px;
            margin-bottom: 55px;

            .payment-card {
                position: relative;

                display: flex;
                width: 328px;
                height: 200px;
                box-shadow: 0 32px 60px rgba(77, 124, 254, 0.16);
                border-radius: 10px;

                .background {
                    position: absolute;

                    img:last-child {
                        transform: rotate(90deg) translate(-25%, 38%)
                    }
                }

                .img-wrap {

                    width: 48px;
                    height: 32px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 100%;
                    transform: translateX(-100%);
                    margin: 10px -9px;

                    &::after {
                        content: "";
                        border-radius: 4px;
                        background: #ffffff;
                        opacity: 0.15;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }

                    &::before {
                        width: 16px;
                        height: 18px;
                        font-family: "LineAwesome";
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }

                    &.CARD {
                        &::before {
                            display: none;
                            color: $background-2;
                        }
                    }

                    &.DEPOSIT {
                        &::before {
                            display: none;
                            content: "\f360";
                        }
                    }

                    &.MORTGAGE {
                        &::before {
                            display: none;
                            content: "\f154";
                        }
                    }
                }

                .card-content {
                    position: relative;
                    top: 77px;

                    .label {
                        width: 75px;
                        height: 21px;
                        opacity: 0.75;
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 21px;
                    }

                    .top {
                        .card-number-wrap {
                            .number {
                                width: 246px;
                                height: 26px;
                                color: #ffffff;
                                font-family: Roboto;
                                font-size: 22px;
                                font-weight: 500;
                                letter-spacing: 0.55px;
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;

                        h1 {
                            height: 17px;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 0.35px;
                        }
                    }
                }
            }
        }

        table {
            width: 100%;

            tr {
                display: flex;
                position: relative;

                td {
                    flex: 1;

                    &:first-child {
                        width: 108px;
                        color: #98a9bc;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 40px;
                    }

                    &:last-child {
                        color: #252631;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0.2px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end
                    }
                    app-toogle {
                        transform: translateX(25px);
                    }
                }

                &::after {
                    content: "";
                    width: 508px;
                    height: 1px;
                    background: #e8ecef;
                    display: block;
                    position: absolute;
                    top: 100%;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }

    .buttons {
        height: 65px;

        button {
            width: 106.5px;
            padding: 15px 0px;
            margin-right: 20px;

            span {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.3px;
                text-transform: uppercase;
            }
        }
    }
}