<div class="main">
  <aside [@toggleMenu]="menuStatus ? 'full' : 'mini'">
    <h3 class="primary">
      <span class="logo">
        TBC <span *ngIf="menuStatus">Banking</span>
      </span>
    </h3>
    <nav [ngClass]="menuStatus ? '':'hide'">
      <a *ngFor="let menu of menus" [routerLink]="menu.link" [class]="menu.icon"
        routerLinkActive="active">{{menu.text}}</a>
    </nav>
    <div *ngIf="cards.length" [ngClass]="menuStatus ? '':'hide'">
      <span class="accounts-title" *ngIf="menuStatus">Accounts</span>
      <div class="accounts">
        <a *ngFor="let card of cards;let id = index" routerLink="/account/{{card.objectId}}" [class]="card.___class"
          routerLinkActive="active">
          <span *ngIf="menuStatus">
            Card {{card.cardTypes.full}}
          </span>
          <span *ngIf="!menuStatus">
            {{card.cardTypes.mini}}
          </span>
        </a>
      </div>
    </div>
  </aside>
  <div class="content">
    <header>
      <span class="menu" (click)="toggleSidebar()"></span>
      <span class="dashboard">{{ title }}</span>
      <div class="account">
        <app-notification-dropdown></app-notification-dropdown>
        <app-header-profile></app-header-profile>
      </div>
    </header>
    <main>
      <app-notification></app-notification>
      <router-outlet (activate)="activeRoute($event)" (changeHeader)=changeHeader()></router-outlet>
    </main>
    <footer>
      © 2019 TBC Banking - All Rights Reserved.
    </footer>
  </div>
</div>
