@import '../../palette.scss';
@import '../../typography.scss';

$rubik: 'Rubik', sans-serif;
$awesome: 'LineAwesome';
$white_65: rgba(#FFFFFF, .65);

.main {
    font-family: $Roboto;
    display: flex;

    aside {
        width: 242px;
        flex-shrink: 0;
        grid-row: 1 / 4;
        border-right: 1px solid $outline;
        font-family: $Roboto;

        h3 {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            font-family: $rubik;
            overflow: hidden;

            .logo {
                padding-left: 15px;
                word-spacing: -2px;
                white-space: nowrap;

                span {
                    font-weight: 300;
                }
            }
        }

        nav {
            margin-bottom: 24px;

            a {
                display: flex;
                padding: 25px 28px;
                text-decoration: none;
                font-size: 14px;
                color: $primary-dark;
                text-transform: uppercase;
                transition: background .2s linear;
                white-space: nowrap;

                &:hover {
                    background: $background-2;
                }

                &.active {
                    padding-left: 26px;
                    background: $background-2;
                    border-left: 2px solid $primary;

                    &::before {
                        color: $primary;
                    }
                }

                &::before {
                    color: $secondary-dark-1;
                    display: inline-block;
                    margin-right: 18px;
                    font-family: $awesome;
                    font-size: 22px;
                }

                &.dashboard::before {
                    content: '\f1b2';
                }

                &.account::before {
                    content: '\f12d';
                }

                &.setting::before {
                    content: '\f20c';
                }

                &.transactions::before {
                    content: '\f278';
                }

                &.accounts::before {
                    content: '\f12d';
                }

                &.products::before {
                    content: '\f151';
                }

                &.payments::before {
                    content: '\f1aa';
                }

                &.stocks::before {
                    content: '\f116';
                }

                &.link::before {
                    content: '\f1ec';
                }

                &.ui-kit::before {
                    content: '\f2c8';
                }

                &.news::before {
                    content: '\f29c';
                }
            }

            &.hide {

                a {
                    font-size: 0;
                }
            }
        }

         .accounts-title {
            color: $secondary-dark-2;
            margin-left: 28px;
            margin-bottom: 18px;
            display: inline-block;
        }

        div {
            font-size: 14px;
            color: $primary-dark;

            .accounts {

                a {
                    text-decoration: none;
                    border-left: 2px solid;
                    display: flex;
                    padding: 16px 26px;
                    transition: background .2s linear;
                    font-size: 14px;
                    white-space: nowrap;

                    &:hover, &.active {
                        background: $background-2;
                    }

                    &::before {
                        color: $secondary-dark-1;
                        display: inline-block;
                        margin-right: 18px;
                        font-family: $awesome;
                        font-size: 22px;
                    }

                    &.cards {
                        border-color: $secondary-1;

                        &:before {
                            content: '\f177';
                            color: $secondary-1;
                        }
                    }

                    &.deposits {
                        border-color:$primary;

                        &:before {
                            content: '\f174';
                            color:$primary;
                        }
                    }

                    &.credits {
                        border-color: $secondary-2;

                        &:before {
                            content: '\f294';
                            color: $secondary-2;
                        }
                    }
                }
            }

            &.hide {

                .accounts {

                    a {
                        padding-left: 0;
                        padding-right: 0;

                        &::before {
                            display: none !important;
                        }
                    }
                }

            }

        }
    }

    .content {
        flex: 1 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 64px minmax(calc(100vh - 64px - 62px), auto) 62px;

        header {
            grid-row: 1 / 2;
            display: flex;
            align-items: center;
            padding: 0 25px;
            color: $primary-dark;
            z-index: 9;

            .account {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            span.menu {
                display: inline-block;
                margin-right: 13px;

                &::before {
                    content: '\f131';
                    cursor: pointer;
                    color: $secondary-dark-1;
                    display: inline-block;
                    margin-right: 10px;
                    font-family: $awesome;
                    font-size: 22px;
                }
            }

            span.dashboard {
                font-size: 20px;
            }

        }
        footer {
            grid-row: 3 / 4;
            display: flex;
            align-items: center;
            background: $white_65;
            padding: 0 30px;
            color: $secondary-dark-2;
            font-size: 14px;
        }

        main {
            grid-row: 2 / 3;
            background: $background-2;
            padding: 20px 28px;
            color: $secondary-dark-1;
        }
    }
}
