@import "../../../palette";

.bank-transfer-container {
  padding: 0 25px 26px 25px;

  span {
    display: inline-block;
    margin-bottom: 14px;
  }

  > label {
    width: 100%;
    margin-bottom: 22px;

    input {
      width: 100%;
    }
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    label {
      width: 48%;

      input {
        width: 100%;
      }
    }
  }

  .meta-data {
    border: 1px dashed $outline;
    padding: 20px 17px 25px 17px;
    margin-bottom: 24px;

    > div {
      &:first-child {
        div {
          display: flex;
          justify-content: space-between;

          i {
            font-size: 18px;
            color: $primary;
          }
        }
      }
    }
  }

  > div {
    &:last-child {
      display: flex;
      justify-content: space-between;
    }
  }
}
