<div class="bank-transfer-container" [formGroup]="form">
    <label class="input-container">
        <span>Select account</span>
        <app-select-fields formControlName="account" [list]="cards"></app-select-fields>
    </label>
    <label class="input-container">
        <span>Select payment system</span>
        <app-select-fields formControlName="paymentSystem" [list]="paymentSystems"></app-select-fields>
    </label>
    <label class="input-container">
        <span>PayPal account</span>
        <input type="text" formControlName="payPalAccount">
    </label>
    <div class="input-group">
        <label class="input-container">
            <span>Amount</span>
            <input type="text" formControlName="amount">
        </label>
        <label class="input-container">
            <span>Currency</span>
            <app-select-fields formControlName="currency" [list]="currencies"></app-select-fields>
        </label>
    </div>
    <div class="meta-data">
        <div>
            <div>
                <span>Amount</span>
                <i class="la la-info-circle"></i>
            </div>
        </div>
        <div>
            <span>Fee</span>
        </div>
        <div>
            <span>Processing</span> 5 - 7 Business days
        </div>
    </div>
    <div>
        <button (click)="onSubmit()">PAY NOW</button>
        <button (click)="onCancel()" class="resting">CANCEL</button>
    </div>
</div>
