@import '../../palette.scss';
@import '../../typography.scss';

.last-cell {

  div {
    display: flex;
    justify-content: center;
    width: 85px;
    height: 60px;
  }
}

tr {
  border-bottom: 1px solid $outline;

  & > td {
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    color: $primary-dark;
    margin-left: 100px;

    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }

    .flag {
      border-radius: 0;
      height: 13px;
      width: 20px;
    }

    > div {
      align-items: center;
      display: flex;

      span {
        margin-left: 15px;
      }
    }
  }

  .last-cell {
    padding: 0;
    text-align: center;
  }

  &:hover {
    background: $background-1;
  }

  .red-bg {

    div {
      background: rgba($secondary-3, 0.09);
    }
  }

  .red-c {
    color: $secondary-3;
  }

  .green-bg {

    div {
      background: rgba($secondary-2, 0.09);
    }
  }

  .green-c {
    color: $secondary-2;
  }

  &:last-child {
    border-bottom: none;
  }

}
