<app-table [content]="currentPage" [headers]="headers">
    <tr *ngFor="let currency of currentPage">
        <td><img class="flag" src="assets/cards/currency-icon.png" alt="icon"> {{currency.index}}</td>
        <td>{{currency.month | date : 'MMM yy'}}</td>
        <td [class.red-bg]="currency.last < 15000"
            [class.green-bg]="currency.last > 25000"
            class="last-cell">
            <div>
                {{currency.last | number : '.1-3'}}
            </div>
        </td>
        <td>{{currency.high | number : '.1-3'}}</td>
        <td>{{currency.low | number : '.1-3'}}</td>
        <td [class.red-c]="currency.change < 0"
            [class.green-c]="currency.change > 0">
            {{currency.change  > 0 ? '+' : ''}}{{currency.change | number : '.1-4'}}</td>
        <td [class.red-c]="currency.changeTime < 0"
            [class.green-c]="currency.changeTime > 0">
            {{currency.changeTime  > 0 ? '+' : ''}}{{currency.changeTime / 100 | percent : '.2-4'}}</td>
        <td>{{currency.time}}</td>
    </tr>
</app-table>

<app-pagination
  [perPage] = "10"
  [content] = "items"
  (emitter) = "newPage($event)">
</app-pagination>
