<form [formGroup]="checkedform" class="settings-notification">
  <div>
    <h2>Notification</h2>
    <div class="settings-wrapper">
      <div>
        <h6>Product updates</h6>
        <p class="secondary-dark-2">Stair Lifts Feel The Freedom Of Your Home</p>
      </div>
      <div>
        <app-toogle formControlName="product"></app-toogle>
      </div>
    </div>
    <div class="settings-wrapper">
      <div>
        <h6>Offer updates</h6>
        <p class="secondary-dark-2">A Right Media Mix Can Make The Difference</p>
      </div>
      <div>
        <app-toogle formControlName="offer"></app-toogle>
      </div>
    </div>
    <div class="settings-wrapper">
      <div>
        <h6>Comments</h6>
        <p class="secondary-dark-2">Advertising Relationships Vs Business Decisions</p>
      </div>
      <div>
        <app-toogle formControlName="comments"></app-toogle>
      </div>
    </div>
    <div class="settings-wrapper">
      <div>
        <h6>Notifications</h6>
        <p class="secondary-dark-2">Creating Remarkable Poster Prints Through 4 Color Poster Printing</p>
      </div>
      <div>
        <app-toogle formControlName="notification"></app-toogle>
      </div>
    </div>
    <div class="settings-wrapper">
      <app-tags [inputTags]="tags" placeholder="Please select channel" title="Delivery"></app-tags>
    </div>


  </div>
  <button (click)=setOption(checkedform.value)>UPDATE SETTINGS</button>
</form>
