@import "../../palette.scss";
@import "../../typography.scss";
@import "../../buttons.scss";

$color-1: #fff;

.settings-notification {
  background-color: $color-1;
  width: 698px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-top: 0;
  }

  .settings-wrapper {
    border-bottom: 1px solid $outline;
    padding: 25px 0 0;
    display: flex;
    justify-content: space-between;

    h5 {
      margin: 0 0 45px;
    }

    h6 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      font-family: $Roboto;
      color: $primary-dark;
    }

    p {
      font-size: 14px;
      line-height: 0;
      padding-bottom: 20px;
    }

    &:nth-child(6) {
      border: 0;
    }
  }

  button {
    max-width: 220px;
    padding: 15px;
    &.resting {
      margin-left: 10px;
    }
  }
}
