@import '../../palette.scss';



.notification-btn {
    display: flex;

    &:before {
        content: "\f140";
        font-family: "LineAwesome";
        font-size: 22px;
        color: $primary;
    }
}

.notifications-lists {
    z-index: 1;
    width: 344px;
    max-height: 383px;
    border-radius: 4px;
    margin-top: 36px;
    background-color: white;
    position: absolute;
    right: 160px;
    box-shadow: 0px 2px 3px 3px rgba(153,155,168,0.12);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        right: 20px;
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
        border-top: 3px solid $background-1;
        border-left: 3px solid $background-1;
    }

    .notifications-list {
        max-height: 327px;
        overflow-y: hidden;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 10px;
        }
          
        /* Track */
        &::-webkit-scrollbar-track {
            background: $background-2; 
            border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $primary; 
            border-radius: 10px;
        }
        &.scroll{
            overflow-y: scroll;
        }

        .each-notification {
            width: 344px;
            height: 60px;
            display: flex;
            padding: 11px;
            text-decoration: none;
            margin-right: 0px;

            &:hover {
                background-color: $background-2;
            }
            .circle {
                margin-right: 11px;
                width: 40px;
                height: 40px;
                padding: 10px;
                border-radius: 50%;
                align-items: center;
                background-color: $background-1;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                -khtml-border-radius: 50%;

            }
            h3 {
                margin: 0;
                font-size: 14px;
                font-style: "Rubik";
                word-spacing: 1px;
                line-height: 17px;
            }
            span {
                font-size: 14px;
                font-style: "Roboto";
                word-spacing: 1px;
                line-height: 21px;
                color: $secondary-dark-2;
            }
        }
    }
}

.all-notifications {
    background-color: $background-2;
    width: 344px;
    height: 46px;
    position: relative;
    align-items: center;
    display: flex;
    a {
        
        color: $primary;
        text-decoration: none;
        margin: 0 auto;
        font-size: 14px;
        font-style: "Roboto";
        cursor: pointer;

    }
}

