<div>

  <a class="notification-btn" (click)="showList()"></a>

  <section class="notifications-lists" *ngIf="show">
    <div [ngClass]="{'scroll': scroll}" class="notifications-list" *ngIf="answerData">
      <a href="" class="each-notification" *ngFor="let each of asd$ | async | slice:0:sliceLimit">
        <div class="circle"><i class="la" [innerHTML]="each.image"></i></div>
        <div>
          <h3>{{each.title}}</h3>
          <span>{{each.message}}</span>
        </div>

      </a>
    </div>
    <div class="all-notifications">
      <a class="ignoreClick" (click)="showAll()">
        <span class="ignoreClick" *ngIf="!scroll">ALL NOTIFICATIONS</span>
        <span class="ignoreClick" *ngIf="scroll">LESS NOTIFICATIONS</span>
      </a>
    </div>
  </section>
</div>