@import '../../palette.scss';

.loaders {
    height: 100%;
    width: 5px;
    border-radius: 1px;
    background-color: $outline;

    .load {
        bottom: -100%;
        position: relative;
        border-radius: 7px 7px 0 0;
        height: 0;
        width: 5px;
        background-color: $primary;

        &.primary {
            background: $primary;
        }

        &.primary-dark {
            background: $primary-dark;
        }

        &.secondary-dark-1 {
            background: $secondary-dark-1;
        }

        &.secondary-dark-2 {
            background: $secondary-dark-2;
        }

        &.secondary-1 {
            background: $secondary-1;
        }

        &.secondary-2 {
            background: $secondary-2;
        }

        &.secondary-3 {
            background: $secondary-3;
        }

        &.secondary-4 {
            background: $secondary-4;
        }

        &.outline {
            background: $outline;
        }

        &.background-1 {
            background: $background-1;
        }

        &.background-2 {
            background: $background-2;
        }
    }
}