<div class="instant-transfer-container" [formGroup]="form">
    <label class="input-container">
        <span>Select account</span>
        <app-select-fields formControlName="account" [list]="cards"></app-select-fields>
    </label>
    <label class="input-container">
        <span>Transfer to</span>
        <input type="text" formControlName="transferTo">
    </label>
    <div class="input-group">
        <label class="input-container">
            <span>Amount</span>
            <input type="text" formControlName="amount">
        </label>
        <label class="input-container">
            <span>Tranfer type</span>
            <app-select-fields formControlName="transferType" [list]="transferTypes"></app-select-fields>
        </label>
    </div>
    <div>
        <button (click)="onSubmit()">PAY NOW</button>
        <span>2% Bank fee applied</span>
    </div>
</div>
