<div class="stepper-content">
    <div *ngFor="let step of steps; let i = index">
        <ng-container *ngIf="selectedIndex === i" [ngTemplateOutlet]="step.content"></ng-container>
    </div>
    <span *ngIf="selectedIndex===0" class="error">{{error?.error?.message}}</span> 
</div>
<div class="stepper-nav">
    <span>{{selectedIndex+1}}<span>/{{count}}</span></span>
    <ul>
        <li *ngFor="let step of steps; let i = index" [ngClass]="{'active': selectedIndex >= i}"></li>
    </ul>
</div>