@import '../../../styles.scss';
.stepper-content{
  max-width: 555px;
  background-color: white;
  padding: 45px 20px 10px 20px;
}
.stepper-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  max-width: 555px;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin-right: 100px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: $background-1;
        display: block;
        width: 100px;
        height: 4px;
        z-index: 1;
      }

      &.active::after, &.active::before {
        background-color: $primary;
        border: solid $primary 1px;
      }
      &:last-of-type::after {
        content: "";
        background-color: aqua;
        width: 4px;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: $background-1;
        display: block;
        width: 11px;
        height: 11px;
        border: solid $background-1 1px;
        z-index: 5;
        border-radius: 100%;
        transform: translateY(-30%);
      }
    }
  }

  span {
    font-size: 16px;
    transform: translateX(-20px);
    span {
      color: $secondary-dark-1;
    }
  }
}
span.error{
  color: $secondary-3;
}
