@import "../../palette";

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .left-side {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-top: 5.7%;

    div {
      display: inline-block;
      margin: auto;
      text-align: left;
      width: 360px;

      h1 {
        font-size: 20px;
        font-weight: 300;
        color: $primary;
        margin-bottom: 26%;

        span {
          font-weight: bold;
          font-size: 20px;
        }
      }

      .login-component {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 12vw;

        h1 {
          font-size: 30px;
          line-height: 39px;
          font-weight: 700;
          margin-bottom: -4px;
          color: $primary-dark;
        }

        p {
          margin-bottom: 35px;
          line-height: 21px;
          color: $primary-dark;
        }

        label {
          display: block;
          color: #252631;
          font-size: 14px;
          line-height: 19px;

          span {
            display: inline-block;
            margin-bottom: 13px;

            .error {
              display: inline-block;
              color: $secondary-3;
              font-size: 14px;
              line-height: 19px;
              margin-bottom: 0;
            }
          }

          input {
            width: 100%;
          }
        }

        .first-label {
          margin-bottom: 16px;
        }

        .last-label {
          margin-bottom: 29px;
        }

        button {
          width: 100%;

          &:disabled {
            opacity: 0.7;
              &:hover {
                background-color: $primary;
              }
          }
        }
        .last-error {
          font-family: Roboto, sans-serif;
          display: inline-block;
          color: $secondary-3;
          font-size: 14px;
          line-height: 19px;
          margin-top: 13px;
        }
      }

      p {
        font-size: 14px;
        color: $secondary-dark-2;

        a {
          font-size: 14px;
          text-decoration: none;
          color: $primary-dark;
        }
      }
    }

    .sign-up {
      position: absolute;
      bottom: 0;
    }
  }

  .right-side {
    position: relative;
    width: 50%;

    img {
      position: absolute;
      transform: rotate(-2deg) scale(1.2);
      top: -70px;
      left: -426px;
      min-width: fit-content;
      min-height: fit-content;
    }
  }
}
@media screen and (max-height: 778px) {
  section {
    .left-side {
      padding-top: 5vh;
        h1 {
          margin-bottom: 5vh;
        }
        .login-component {
          margin-bottom: 0 !important;

        }
      .sign-up {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-height: 625px){
  section {
    .left-side {
      padding-top: 1vh;
      h1 {
        margin-bottom: 0.1vh !important;
      }
      .login-component {
        margin-bottom: 0 !important;

      }
      .sign-up {
        position: relative;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  section {
    .left-side {
      padding-top: 5vh;
      div {
        width: 100%;
      }
      .sign-up {
        width: 50%;
      }
    }
  }
}
