<section>
<section class="left-side">
  <div>
    <h1><span>TBC</span> Banking</h1>
    <div class="login-component">
      <h1>Sign in</h1>
      <p>
        Please sign in to your personal account if you
        want to use all  our premium products
      </p>
      <form [formGroup]='user' (ngSubmit)="onSubmit(user.value)">
      <label class="first-label input-container">
        <span>Your email
          <span *ngIf="login.invalid && (login.dirty || login.touched)" class="error">
          <span *ngIf="login.errors.required" class="error">
            *required
          </span>
          <span *ngIf="user.status==='INVALID' && !login.errors.required" class="error">
            *wrong credentials
          </span>
        </span>
          </span>
        <input type="email" required formControlName="login">
      </label>

      <label class="last-label input-container">
        <span>
          Password
          <span *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          <span *ngIf="password.errors.required" class="error">
            *required
          </span>
        </span>
        </span>
        <input type="password" required formControlName="password">
      </label>
      <button type="submit" [disabled]="user.status==='INVALID'">sign in</button>
        <span *ngIf="authError" class="error last-error">
            Incorrect Email or Password
          </span>
      </form>
    </div>
    <p class="sign-up">Don't have an account? <a routerLink="/register">Sign up here</a></p>
  </div>
</section>
<section class="right-side">
        <img src="/tbc-bootcamp-frontend-banking/assets/login/ethan-hoover-422836-unsplash.png" alt="ethan">
</section>
</section>
