@import '../../palette.scss';

.tabs-wrap {
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;

    ul {
        display: inline-block;

        li {
            float: left;
            margin: 0 20px 18px 0;
            list-style: none;
            cursor: pointer;
        
            a {
                font-size: 14px;
                font-weight: 600;
                color: $secondary-dark-1;
                text-decoration: none;
              }
        }
    
        .active {            

            a {
                padding-bottom: 18px;
                color: $primary-dark;
            }
        
            &::after {
                content: '';
                display: block;
                position: relative;
                top: 18px;
                z-index: 1;
                width: 100%;
                height: 2px;
                background: $primary-dark;
                animation: sheen 0.5s forwards;
            }

            @keyframes sheen {
                30% {
                  transform: rotate(10deg);
                }
                60% {
                    transform: rotate(-10deg)
                }
            }
          }

          &::after {
            content: '';
            display: block;
            position: relative;
            top: 37px;
            z-index: -1;
            width: 94%;
            height: 1px;
            background: $outline;
        }
    }
    
}
