.bank-transfer-container {
  padding: 0 25px 26px 25px;

  span {
    display: inline-block;
    margin-bottom: 14px;
  }

  > label {
    width: 100%;
    margin-bottom: 22px;

    input {
      width: 100%;
    }
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    label {
      width: 48%;

      input {
        width: 100%;
      }
    }
  }

  > div {
    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
          margin-bottom: 0;
          margin-right: 90px;
      }
    }
  }
}
