@import '../../palette.scss';

.loaders {
  width: 100%;
  height: 6px;
  border-radius: 1px;
  background-color: $outline;

  &.change-position {
    position: absolute;
  }

  .load {
    width: 0;
    height: 6px;
    border-radius: 1px;
    background-color: $primary;

    &.primary {
      background: $primary;
    }

    &.primary-dark {
      background: $primary-dark;
    }

    &.secondary-dark-1 {
      background: $secondary-dark-1;
    }

    &.secondary-dark-2 {
      background: $secondary-dark-2;
    }

    &.secondary-1 {
      background: $secondary-1;
    }

    &.secondary-2 {
      background: $secondary-2;
    }

    &.secondary-3 {
      background: $secondary-3;
    }

    &.secondary-4 {
      background: $secondary-4;
    }

    &.outline {
      background: $outline;
    }

    &.background-1 {
      background: $background-1;
    }

    &.background-2 {
      background: $background-2;
    }
  }
}

