<div *ngIf="loader">
  <div *ngIf="isLoading | async" >
    <div class="loaders change-position">
      <div class='load {{color}}' [@load]="{value:changed?'change':'start',params:{endPoint:endPoint}}"></div>
    </div>
  </div>
</div>

<div *ngIf="!loader">
  <div class="loaders">
    <div class='load {{color}}' [@load]="{value:changed?'change':'start',params:{endPoint:endPoint}}"></div>
  </div>
</div>
