<div class="news-slider">
    <div class="slider">
        <div class="main-news">
            <a href="{{carouselTileItems[carouselTileItems.length-1].url}}" target="_blank">
                <div class="main-image">
                    <img src="{{carouselTileItems[carouselTileItems.length-1].urlToImage}}">
                </div>
                <div class="caption">
                    <h5>{{carouselTileItems[carouselTileItems.length-1].title}}</h5>
                    <span>{{carouselTileItems[carouselTileItems.length-1].publishedAt | date}}</span>
                </div>
            </a>
        </div>
        <div class="thumbnails">
            <div class="slider-wrapper">
                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                    <div *nguCarouselDef="let item; let i = index;">
                        <a href="{{item.url}}" target="_blank">
                            <div class="thumbnail-img">
                                <img src="{{item.urlToImage}}">
                            </div>
                            <h6>{{item.title}}</h6>
                            <span>{{item.publishedAt | date}}</span>
                        </a>
                    </div>
                    <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1"></button>
                    <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1"></button>
                </ngu-carousel>
            </div>
        </div>
    </div>
</div>
