@import "../../palette.scss";
@import "../../typography.scss";
$color-1: #fff;
$color-2: #fafbff;
$gradient-color-1: rgba(255, 255, 255, 0) 0%;
$gradient-color-2: rgba(255, 255, 255, 0.8) 57%;
$gradient-color-3: rgba(255, 255, 255, 0.94) 100%;

.news-slider {
  width: 617px;
  background: $color-1;

  .slider {
    padding: 20px;

    .main-news {
      width: 100%;
      position: relative;

      .main-image {
        background: black;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-right: 21px;
        height: 438px;
        overflow: hidden;
        border-radius: 4px;

        img {
          opacity: 0.8;
          position: absolute;
        }
      }

      .caption {
        position: absolute;
        bottom: 0px;
        padding: 23px 29px;

        h5 {
          margin: 6px 0;
          color: $color-1;
        }
        span {
          font-family: $Roboto;
          font-size: 14px;
          line-height: 21px;
          color: $color-1;
        }
      }
    }

    .thumbnails {
      width: 100%;
      overflow: hidden;
      position: relative;

      .slider-wrapper {
        padding-left: 0px;
        width: max-content;
        float: left;
        margin-top: 22px;
        margin-bottom: 24px;

        a {
          text-decoration: none;
          width: 152px;
          float: left;
          list-style-type: none;
          margin: 0px 11px;
          &:first-child {
            margin-left: 0px;
          }

          .thumbnail-img {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            height: 152px !important;
            overflow: hidden;
            border-radius: 4px;

            img {
              position: absolute;
              z-index: 1;
            }
          }
        }

        h6,
        span {
          font-family: $Roboto;
          font-size: 14px;
          line-height: 21px;
        }
        h6 {
          color: $primary-dark;
          margin: 16px 0 10px;
        }
        span {
          color: $secondary-dark-2;
        }
      }
      .leftRs {
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        background: $color-1;
        background: -moz-linear-gradient(right, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        background: -webkit-linear-gradient(right, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        background: linear-gradient(to left, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        padding: 0px 40px;

        &::before {
          font-family: "lineawesome";
          content: "\f111";
          color: $color-2;
          font-size: 18px;
          z-index: 3;
          width: 36px;
          height: 36px;
          background: $primary;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 22px;
          top: 27%;
        }
      }
      .rightRs {
        outline: none;
        position: absolute;
        top: 0;
        left: 500px;
        z-index: 3;
        height: 100%;
        background: $color-1;
        background: -moz-linear-gradient(left, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        background: -webkit-linear-gradient(left, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        background: linear-gradient(to right, $gradient-color-1, $gradient-color-2, $gradient-color-3);
        padding: 0px 40px;

        &::after {
          font-family: "lineawesome";
          content: "\f112";
          color: $color-2;
          font-size: 18px;
          z-index: 3;
          width: 36px;
          height: 36px;
          background: $primary;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 22px;
          top: 27%;
        }
      }
    }
  }
}
