@import "../../palette.scss";
@import "../../typography.scss";
$input-color: #1b1e24;
$shadow-color: rgba(0, 0, 0, 0.03);
$white-background: #fff;

.dropdown {
  font-family: $Roboto;
  font-weight: 400;
  position: relative;
  width: 100%;

  input {
    width: 100%;
    height: 52px;
    border: 1px solid $outline;
    border-radius: 4px;
    color: $input-color;
    padding: 0px 16px;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    position: relative;
    z-index: 2;
    cursor: pointer;

    &:disabled {
      color: $secondary-dark-2;
      background: $background-2;
    }

    &::-webkit-input-placeholder {
      color: $secondary-dark-2;
    }

    &::-moz-placeholder {
      color: $secondary-dark-2;
    }

    &::-ms-placeholder {
      color: $secondary-dark-2;
    }

    &::placeholder {
      color: $secondary-dark-2;
    }
  }

  &::before {
    font-family: "lineawesome";
    content: "\f110";
    color: $secondary-dark-1;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 3;
  }

  &.active-drowdown {
    &::before {
      color: $primary;
    }
  }

  ul {
    width: 100%;
    max-height: 204px;
    overflow: auto;
    padding: 10px 17px;
    box-shadow: $input-color;
    -webkit-box-shadow: 2px 9px 33px 10px $shadow-color;
    -moz-box-shadow: 2px 9px 33px 10px $shadow-color;
    box-shadow: 2px 9px 33px 10px $shadow-color;
    margin-top: 6px;
    position: absolute;
    z-index: 4;
    background: $white-background;

    li {
      font-size: 14px;
      line-height: 17px;
      color: $input-color;
      list-style-type: none;
      padding: 15px 0;
      cursor: pointer;
      position: relative;

      &:hover {
        color: $primary;
      }

      &:last-child {
        padding-bottom: 0px;
      }

      &.favourite {
        padding-left: 45px;

        &::before {
          content: "\f234";
          font-family: "lineawesome";
          font-size: 18px;
          color: $primary-dark;
          position: absolute;
          left: 0px;
        }

        &:hover {
          &::before {
            color: $primary;
          }
        }
      }

      &.selected {
        color: $primary;

        &::before {
          color: $primary;
        }
      }
    }
  }
}
