<div class="dropdown" [formGroup]="formGroup" [class.active-drowdown]="showDropDown">
    <input readonly type="text" placeholder="{{placeholder}}" formControlName="dropdownInput" (click)="showDropdown()"
        (blur)="hideDropdown()">
    <ul [@openClose]="showDropDown ? 'open': 'close'">
        <li *ngFor="let item of list; index as i" (click)="selectedValue(item, i)"
            [class.selected]="i === selectedItem">
            <i class="la" [ngClass]="item.icon"></i>{{item.value}}</li>
    </ul>
</div>
