@import "../../palette.scss";

$white: #FFFFFF;

article {
    width: 509px;
    height: 718px;
    padding: 25px;
    border-radius: 5px;
    background-color: $white;

    header {
        display: flex;
        border-bottom: 1px $outline solid;
        margin-bottom: 25px;
        padding-bottom: 23px;

        h2 {
            font-size: 18px;
            line-height: normal;
            margin: 0 0 5px 0;
        }

        .tag {
            margin-left: auto;
            
            div {
                position: relative;
                display: inline-block;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 10px 27px;
                font-size: 14px;
                text-transform: capitalize;
                line-height: 17px;
                border-radius: 4px;
            }
                    
            .high {
                background-color: rgba($secondary-2, 0.08);
                color: $secondary-2;
            }

            .middle {
                background-color: rgba($primary, 0.08);
                color: $primary;
            }

            .low {
                background-color: rgba($secondary-3, 0.08);
                color: $secondary-3;
            }
        }

    }

    .indexes {
        display: flex;
        margin-bottom: 34px;

        .index {
            display: flex;
            flex-direction: column;
            margin-right: 53px;

            .digits {
                margin-bottom: 5px;
                font-size: 16px;
                line-height: 21px;
                color: $primary-dark;
            }

            .text {
                font-size: 14px;
            }
        }
    }

    .main-text {
        p {
            margin-top: 0;
            font-size: 14px;
            white-space: pre-line;
            line-height: 21px;
        }
    }

}
