<article>
    <header>
        <div class="title">
            <h2>{{event.title}}</h2>
            <div class="subtitle">
                {{event.date}}
            </div>
        </div>
        <div class="tag">
            <div ngClass="{{event.priority}}">{{event.priority}}</div>
        </div>
    </header>

    <div class="indexes">
        <div class="index">
            <div class="digits">{{event.indexes.actual}}</div>
            <div class="text">Actual</div>
        </div>
        <div class="index">
            <div class="digits">{{event.indexes.forecast}}</div>
            <div class="text">Forecast</div>
        </div>
        <div class="index">
            <div class="digits">{{event.indexes.previous}}</div>
            <div class="text">Previous</div>
        </div>
    </div>

    <div class="main-text">
        <p>{{event.text}}</p>
    </div>
</article>
