<section>
  <app-table [content]="data" [headers]="headers">
    <tr *ngFor="let item of data">
      <td>{{item.time}}</td>
      <td>{{item.cur}}</td>
      <td>{{item.event}}</td>
      <td [class.medium]="item.actual">{{item.importance}}</td>
      <td>{{item.actual}}</td>
      <td>{{item.forecast}}</td>
      <td [class.red-c]="item.previous < 0" [class.green-c]="item.previous > 0"> {{item.previous | percent : '.1'}}</td>
    </tr>
  </app-table>
</section>
