@import "../../palette.scss";
@import "../../typography.scss";


$white: #FFFFFF;

section {
    background-color: $white;
    height: 100%;
    overflow: hidden;
}

tr {
    border-bottom: 1px solid $outline;
  
    & > td {
      padding: 30px;
      font-size: 14px;
      font-weight: 400;
      color: $primary-dark;
      margin-left: 100px;
  
      .flag {
        border-radius: 0;
        height: 13px;
        width: 20px;
      }
  
      > div {
        align-items: center;
        display: flex;
  
        span {
          margin-left: 15px;
        }
      }
    }
  
    &:hover {
      background: $background-1;
    }
  
    .red-c {
      color: $secondary-3;
    }
  
    .green-c {
      color: $secondary-2;
    }

    .medium {
      color: $primary;
      font-size: 18px;
    }
  
  }
  