@import "./src/palette.scss";
@import "./src/typography.scss";
$background-3: #FFFFFF;

.header-profile {
  z-index: 1;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;

  .profile-pic {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: $background-1;
    border: 2px solid $primary;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    span {
      text-decoration: none;
      font-size: 14px;
    }
  }

  .profile {
    position: absolute;
    top: 52px;
    right: 0;
    width: 286px;
    height: 237px;
    font-family: $Roboto;
    box-shadow: 0 0 5px 1px $background-2;
    visibility: hidden;
    opacity: 0;

    .top {
      height: 80px;
      background-color: $background-2;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .profile-pic {
        border: none;
        cursor: unset;
        margin: 0 14px 0 20px;
      }

      div {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: 500;
          width: 207px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .email {
          color: $secondary-dark-2;
        }
      }
    }

    .bottom {
      height: 157px;
      display: flex;
      flex-direction: column;

      a {
        flex-basis: 33.33%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: $Roboto;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: $background-3;

        &:hover {
          background-color: $background-2;
        }

        &::before {
          font-size: 18px;
          margin-right: 8px;
          padding-left: 20px;
          color: $secondary-dark-1;
          display: inline-block;
          font-family: "LineAwesome";
        }

        &:nth-child(1)::before {
          content: "\f364";
        }

        &:nth-child(2)::before {
          content: "\f20c";
        }

        &:nth-child(3)::before {
          content: "\f2fc";
        }
      }
    }
  }
}
