<section class="header-profile">
    <div class="profile-pic" (click)="showProfile()"><i class="la la-user"></i></div>
    <a [routerLink] (click)="showProfile()"><span>{{ name }}</span></a>

    <div class="profile" [@animate]="show ? 'open' : 'close'">
        <div class="top">
            <div class="profile-pic"><i class="la la-user"></i></div>
            <div>
                <span class="name" >{{ name }}</span>
                <span class="email">{{ email }}</span>
            </div>
        </div>
        <div class="bottom">
            <a [routerLink]="'/account'" (click)="hideProfile()">Your Profile</a>
            <a [routerLink]="'/setting'" (click)="hideProfile()">Settings</a>
            <a [routerLink] (click)="logout()">Sign Out</a>
        </div>
    </div>
</section>
