@import "../../palette";
@import "../../typography";

$roboto: "Roboto";

$color-1: #ffffff;
$color-2: #fff6e8;
$color-3: #fff3df;
$color-4: #fffbf4;

.payments-container {
  display: flex;
  justify-content: space-between;
  font-family: $roboto;

  > div {
    background: $color-1;
    flex: 1;
    border-radius: 4px;
    justify-content: space-between;

    &:first-of-type {
      margin-right: 30px;
    }

    .header {
      border-bottom: 1px solid $background-1;
      margin-bottom: 9px;
      padding: 0 24px 0 24px;
      height: 56px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        position: relative;

        i {
          position: absolute;
          top: 15px;
          font-size: 18px;
          color: $secondary-dark-1;
        }
      }

      input {
        width: 230px;
        border: none;
        padding-left: 23px;
        outline: none;

        &::placeholder {
          color: $secondary-dark-1;
          font-size: 12px;
        }
      }
    }

    .providers {
      > div {
        cursor: pointer;
      }
    }

    > div {
      &:last-child {
        > div {
          display: flex;
          padding: 21px 24px 21px 24px;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;
            color: $primary;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $color-2;
            font-size: 18px;

            &:first-child {
              background: $color-3;
            }
          }

          &.active {
            background: #fffbf4;
          }

          h5 {
            margin: 0;
          }

          p {
            font-size: 14px;
            line-height: 21px;
            color: $secondary-dark-2;
            margin: 0;
          }
        }
      }
    }
    &:last-child {
      .right-header {
        margin-bottom: 22.8px;
      }
    }
  }

  h3 {
    margin: 0;
  }
}
