<div class="payments-container">
  <div>
    <div class="header" [formGroup]="form">
      <h5>Payment providers</h5>
      <label class="input-container search">
        <i class="la la-search"></i>
        <input placeholder="FIND PROVIDER" formControlName="search">
      </label>
    </div>
    <div class="providers">
      <div [ngClass]="provider === 'online' ? 'active':''" (click)="setProvider('online')">
        <i class="la la-credit-card"></i>
        <div>
          <h5>Electronic payments</h5>
          <p>Paypal, Skrill, Payonner</p>
        </div>
      </div>
      <div [ngClass]="provider === 'bank' ? 'active':''" (click)="setProvider('bank')">
        <i></i>
        <div>
          <h5>Bank Transfer</h5>
          <p>TBC</p>
        </div>
      </div>
      <div [ngClass]="provider === 'instant' ? 'active':''" (click)="setProvider('instant')">
        <i class="la la-cart-plus"></i>
        <div>
          <h5>Instant transfer</h5>
          <p>Visa, MasterCard</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="header right-header">{{title}}</h5>

    <app-bank-transfer *ngIf="provider === 'bank'" (transaction)="onTransfer($event)" [transferTypes]="transferTypes"
      [currencies]="currencies" [cards]="cards">
    </app-bank-transfer>
    <app-instant-transfer *ngIf="provider === 'instant'" (transaction)="onTransfer($event)"
      [transferTypes]="transferTypes" [cards]="cards">
    </app-instant-transfer>
    <app-online-payment *ngIf="provider === 'online'" (transaction)="onTransfer($event)" [currencies]="currencies"
      [paymentSystems]="paymentSystems" [cards]="cards">
    </app-online-payment>
  </div>
</div>