<div class="apptag" *ngIf="isTag" [ngClass]="type ? type : 'default'">
    <span>{{title}}</span>
    <a (click)="closeTag()"></a>
</div>

<!-- add this where u need it to test
<app-tag title="Music" type="primary" (tagClose)="onClosed()"></app-tag> -->
<!-- names of types to use -->
<!-- primary, primary-inverted, ltblue, green, orange, pink -->
