@import '../../palette.scss';
@import '../../typography.scss';

$white: #FFFFFF;

.apptag {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  font-family: $Roboto;
  line-height: 17px;
  border-radius: 4px;

  a {
    position: absolute;
    right: 10px;

    &::before {
      cursor: pointer;
      content: '\f191';
      font-family: 'LineAwesome';
    }
  }

  &.default {
    background-color: $background-1;
    color: $secondary-dark-1;

    a {
      color: $secondary-dark-1;
    }
  }

  &.primary {
    background-color: $secondary-1;
    color: $white;

    a {
      color: $white;
    }
  }

  &.primary-inverted {
    background-color: rgba($secondary-1, 0.08);
    color: $secondary-1;

    a {
      color: $secondary-1;
    }
  }

  &.ltblue {
    background-color: rgba($secondary-4, 0.08);
    color: $secondary-4;

    a {
      color: $secondary-4;
    }
  }

  &.green {
    background-color: rgba($secondary-2, 0.08);
    color: $secondary-2;

    a {
      color: $secondary-2;
    }
  }

  &.orange {
    background-color: rgba($primary, 0.08);
    color: $primary;

    a {
      color: $primary;
    }
  }

  &.pink {
    background-color: rgba($secondary-3, 0.08);
    color: $secondary-3;

    a {
      color: $secondary-3;
    }
  }

}
