@import "../../palette";

$rubik: "Rubik",
sans-serif;

.card {
    position: relative;
    width: 555px;
    height: 324px;
    background: white;
    border-radius: 4px;

    >div {
        padding: 0 24px;
        position: relative;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 14px 25px;

        h2 {
            letter-spacing: 0.2px;
        }

        &::after {
            content: "";
            width: 555px;
            display: block;
            left: 0;
            top: 100%;
            position: absolute;
            height: 1px;
            background: $background-1;
        }
    }

    .content {
        height: 268px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tags {
            display: inline-flex;
            flex-direction: column
        }

        .tag {
            cursor: pointer;
            width: max-content;
            height: 36px;
            border-radius: 18px;
            background-color: $background-2;
            padding-left: 16px;
            padding-right: 18px;
            color: $primary-dark;
            font-family: $rubik;
            font-size: 14px;
            font-weight: 400;
            display: inline-flex;
            align-items: center;
            margin-bottom: 10px;

            span.circle {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                display: inline-block;
                margin-right: 11px;

                &.amount {
                    background-color: #ffab2b;
                }

                &.interest-rate {
                    background-color: #4d7cfe;
                }

                &.paid {
                    background-color: #6dd230;
                }
            }
        }

        .chart {
            position: relative;
            height: 240px;
            width: 240px;

            circle {
                stroke-width: 46;
                fill: transparent;
                transform-origin: center;
                stroke-dasharray: 527;
                cursor: pointer;

                &.amount {
                    // fill: #ffab2b;
                    stroke: #ffab2b;
                }

                &.interest-rate {
                    // fill: #4d7cfe;
                    stroke: #4d7cfe;
                }

                &.paid {
                    // fill: #6dd230;
                    stroke: #6dd230;
                }

                &.donut-hole {
                    cursor: unset;
                    r: calc(107px + 5px - 46px);
                    fill: white;
                }
            }

            .legend {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 118px;
                height: 26px;
                box-shadow: 0 8px 25px rgba(152, 169, 188, 0.3);
                border-radius: 13px;
                background-color: #ffffff;
                color: #98a9bc;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateX(-50%);

                span.total {
                    /* Style for "$16.000" */
                    margin-left: 3px;
                    width: 51px;
                    height: 21px;
                    color: #252631;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }
}