<div class="card">
    <div class="header">
        <h2>
            Credit overview
        </h2>
    </div>
    <div class="content">
        <div class="tags">
            <div class="tag" (click)="popout('amount')">
                <span class="circle amount"></span>
                Amount
            </div>
            <div class="tag" (click)="popout('interestRate')">
                <span class="circle interest-rate"></span>
                Interest rate
            </div>
            <div class="tag" (click)="popout('paid')">
                <span class="circle paid"></span>
                Paid
            </div>
        </div>

        <div class="chart">
            <svg width="100%" height="100%" viewBox="0 0 240 240" class="donut">
                <g>
                    <circle [@popinPopout]="poppedOut?.name === 'amount' ? 'popout':'popin'"
                        (mouseover)="popout('amount')" (mouseout)="popin()" class="donut-segment amount" cx="120"
                        cy="120" r="84" attr.stroke-dashoffset="{{ -527+(amount / total * 527)  }}"></circle>
                    <circle [@popinPopout]="poppedOut?.name === 'interestRate' ? 'popout':'popin'"
                        (mouseover)="popout('interestRate')" (mouseout)="popin()" class="donut-segment interest-rate"
                        cx="120" cy="120" r="84" [ngStyle]="{transform: 'rotate(' + -amount/total*360 + 'deg)' }"
                        attr.stroke-dashoffset="{{ -527+(interestRate / total * 527) }}"></circle>
                    <circle [@popinPopout]="poppedOut?.name === 'paid' ? 'popout':'popin'" (mouseover)="popout('paid')"
                        (mouseout)="popin()" class="donut-segment paid" cx="120" cy="120" r="84"
                        [ngStyle]="{transform: 'rotate(' + -(interestRate+amount)/total*360 + 'deg)' }"
                        attr.stroke-dashoffset="{{ -527+(paid / total * 527) }}"></circle>

                    <circle class="donut-hole" cx="120" cy="120"></circle>
                </g>

            </svg>
            <div class="legend" [@showHide]="poppedOut ? 'show':'hide'">
                Total: <span class="total">
                    ${{poppedOut?.value}}
                </span>
            </div>
        </div>
    </div>
</div>