<div class="wrap">
    <app-tabs>
        <app-tab title="Currencies">
            <div class="wrap">
                <app-trading-currencies-corporate></app-trading-currencies-corporate>
            </div>
        </app-tab>
        <app-tab title="Crypto Currencies">
            <div class="wrap">
                <app-crypto-currencies></app-crypto-currencies>
            </div>
        </app-tab>
        <app-tab title="Trading Calendar">
          <div class="wrap">
            <app-trading-calendar></app-trading-calendar>
          </div>
        </app-tab>
      <app-tab title="Trading Calendar Event">
        <div class="wrap">
          <app-trading-calendar-event></app-trading-calendar-event>
        </div>
      </app-tab>
      <app-tab title="News Slider">
        <div class="wrap">
          <app-news-slider></app-news-slider>
        </div>
      </app-tab>
      <app-tab title="News List">
        <div class="wrap">
          <app-news-list></app-news-list>
        </div>
      </app-tab>
      <app-tab title="News">
        <div class="wrap">
          <app-news-article></app-news-article>
        </div>
      </app-tab>
    </app-tabs>
</div>
