<div class="wrap">
    <app-tabs>
        <app-tab title="Cards"></app-tab>
    </app-tabs>

    <div class="description">
        <div class="avgIncome">
            <h1>${{ avg() }}</h1>
            <caption>Avg. income</caption>
            <span [ngClass]="{ changeIcon: true, green: change > 0, red: change < 0 }"></span>
        </div>

        <span [ngClass]="{change: true, green: change > 0, red: change < 0}">
            {{(change > 0 && '+') + change * 100}}%
        </span>
    </div>

    <div class="bars">
        <app-vertical-progress-bar *ngFor="let bar of data.cardIncomes" [endPoint]="(bar.amount / 5000) * 100">
        </app-vertical-progress-bar>
    </div>
    <div class="labels">
        <span *ngFor="let income of data.cardIncomes">
            {{ roundUp(income.amount) }}
        </span>
    </div>


</div>