@import '../../palette.scss';

$white: #FFFFFF;

div.wrap {
    height: 406px;
    border-radius: 4px;
    background-color: $white;
    position: relative;

    app-tabs {
        ::ng-deep ul {
            padding: 0;
            margin: 22px 22px;

            a {
                font-weight: 500 !important;
            }
        }

        ::ng-deep .tabs-wrap {
            margin-bottom: 0;
        }
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 22px;
        margin-right: 18px;

        .avgIncome {
            position: relative;
            margin-bottom: 12px;

            h1 {
                width: 82px;
                height: 31px;
                margin: 0;
                color: $primary-dark;
                font-family: Roboto;
                font-size: 26px;
                font-weight: 400;
                letter-spacing: 0.2px;
            }

            caption {
                width: 77px;
                height: 21px;
                color: $secondary-dark-2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
            }

            span.changeIcon {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(calc(3px + 50%), -100%);

                &::after {
                    width: 16px;
                    height: 18px;
                    font-family: "LineAwesome";
                    font-size: 16px;
                    font-weight: 500;
                }

                &.green::after {
                    content: "\f275";
                    color: $secondary-2;
                }

                &.red::after {
                    content: "\f272";
                    color: $secondary-3
                }
            }
        }

        .change {
            width: 38px;
            height: 21px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;

            &.green {
                color: $secondary-2;
            }

            &.red {
                color: $secondary-3
            }
        }
    }

    .bars {
        height: 206px;
        margin: auto;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 0 25px;

        app-vertical-progress-bar {

            &:last-child {
                margin-right: 0;
            }
        }

        &::after {
            content: "";
            display: block;
            border-bottom: 1px solid $outline;
            position: absolute;
            top: 100%;
        }
    }

    .labels {
        margin: 0 20px;
        margin-top: 14px;
        display: flex;
        justify-content: space-between;

        span {
            height: 21px;
            color: $primary-dark;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
        }
    }

}