<!-- <app-pagination
  [perPage] = "10"
  [content] = "content"
  (emitter) = "newPage($event)">
</app-pagination> -->

<!-- newPage(event) {
  this.currentPage = event;
} -->

<!-- <tr *ngFor="let item of currentPage"> -->

<!-- ngOnInit() {
  if (typeof this.currentPage === 'undefined') {
    this.currentPage = this.content;
  }
} -->

<div class="wrapper">
  <ul class="pagination1" >
    <li>
      <button class="button prev" (click)="nextPage(index - 1)" [disabled]="index === 1">
        &#10094;
        Prev
      </button>
    </li>
    <li *ngFor="let page of pages">
      <button (click)="nextPage(page)" [class]="page === index ? 'active':'' " [disabled]="index === page" >{{page}}</button>
    </li>
    <li>
      <button class="button next" (click)="nextPage(index + 1)" [disabled]="index === pageCount">
        Next
        &#10095;
      </button>
    </li>
  </ul>
</div>
