@import "./src/styles.scss";
@import '../../palette.scss';
@import '../../typography.scss';

$rubik: 'Rubik', sans-serif;
$white: #FFFFFF;

.wrapper {
  user-select: none;

  .pagination1 {
    display: flex;
    list-style: none;

    button {
      outline: none;
      background: white;
      color: $primary-dark;
      font-family: $rubik;
      font-size: 14px;
      cursor: pointer;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;

      &.active {
          background-color: $primary;
          color: white;
          border-radius: 5px;
      }

      &:hover{
         color:$background-2;
         border-radius: 5px;
         background: $primary;

      }
      &.button {
        border-radius: 5px;

        &:hover {
          background: white;
          border-radius: 5px;

          color:$outline;
        }
        &.next {
          margin-left: 17px;
          color: $secondary-dark-1;
        }

        &.prev {
          margin-right: 17px;
          color: $secondary-dark-1;
        }
      }
    }
  }
}
