<div class="tagsForm">
  <form [formGroup]='tagsForm' class='form'>

    <div class="fieldTitle">
      <h2>{{title}}</h2>
      <div>
        <span>{{placeholder}}</span>
        <a (click)='hideShowList() '></a>
      </div>
      <ul *ngIf="inputTags.length > 0 && show;">
        <li *ngFor="let tag of inputTags" (click)="addTag(tag); removeTagFromList(tag) ">{{tag}}</li>
      </ul>
    </div>

    <div class="basicTags">
      <h2>{{tagsTitle}}</h2>
      <div>
        <app-tag class="tags" *ngFor="let tag of selectedTags" title='{{tag}}' type="primary-inverted"
          (tagClose)="removeSelectedTag(tag)"></app-tag>
      </div>
    </div>
  </form>

</div>
