@import "../../palette";
@import "../../typography";

.tagsForm {
  display: flex;
  flex-direction: column;
  font-family: $Roboto;

  .form {
    display: flex;
    align-items: flex-end;
  }

  .fieldTitle div,
  .basicTags div,
  ul {
    width: 333px;
    height: 52px;
    border: 1px solid $outline;
    border-radius: 4px;
    color: $secondary-dark-2;
    background-color: white;
  }

  h2 {
    color: $primary-dark;
    font-size: 16px;
  }

  .fieldTitle {
    margin-right: 29px;

    div {
      display: flex;
      justify-content: space-between;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 16px;

      a {
        padding-right: 18px;
        cursor: pointer;

        &::before {
          content: "\f2c3";
          font-family: "LineAwesome";
          color: $secondary-dark-2;
        }
      }
    }

    ul {
      position: absolute;
      color: $primary-dark;
      height: auto;
      padding-top: 30px;
      padding-left: 17px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05),
        0 2px 12px 0 rgba(0, 0, 0, 0.1);
      z-index: 9;

      li {
        list-style-type: none;
        padding-bottom: 30px;
        font-size: 14px;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }

  .basicTags {
    div {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .tags {
      margin-right: 5px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
