<article>

    <div class="image">
        <img src="{{article.urlToImage}}">
    </div>

    <header>
        <div class="title">
            <h1>{{article.title}}</h1>
            <div class="subtitle">
                {{minutesAgo()}} ({{article.publishedAt | date: 'MMM d, y hh:ma O'}})
            </div>
        </div>
    </header>

    <div class="main-text">
        <p>{{article.content}}</p>
    </div>
    
</article>
