@import '../../palette.scss';

$white: #FFFFFF;

article {
    position: relative;
    width: 832px;
    padding-bottom: 5px;
    background-color: $white;

    .image {
        width: 832px;
        height: 311px;

        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }

    header {
        padding-bottom: 25px;
        margin: 0 24px 28px 24px;
        border-bottom: 1px $outline solid;

        h1 {
            margin-bottom: 8px;
        }

        .subtitle {
            font-size: 14px;
            line-height: 21px;
            text-transform: capitalize;
        }
        
    }

    .main-text {
        padding: 0 24px 0 24px;

        p {
            margin-top: 0;
            white-space: pre-line;
            font-size: 14px;
            line-height: 21px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6250875350140056) 12%, rgba(255,255,255,0) 15%);
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
