<div class="main">
  <h3>Deposit cards</h3>
  <div class="main-container">
    <section *ngFor="let card of cards">
      <div class="container">
        <div class="cards item" [ngClass]="card.type">
          <h5 class="cardbefore" [ngClass]="card.status === blocked?  blocked: ''">{{card.cardTypes.original}}</h5>
          <p>Card number</p>
        </div>
        <div class="item ">
          <h5 class="amount">{{ card.amount | currency }}</h5>
          <p class="border">Available balance</p>
        </div>
        <div class="item">
          <h5 class="date">{{ card.expirationDate | date:'MM/yy' }}</h5>
          <p>Valid</p>
        </div>
        <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart"
            [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">
            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }" />
            <path class="circle" [style.stroke-dasharray]="card.share +', 100'" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831" />
            <text x="18" y="17.35" class="percentage"
              [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">{{ card.share | number }}%</text>
            <text x="18" y="24.35" class="text"
              [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">Share</text>
          </svg>
        </div>
      </div>
      <div class="bg"><span>TBC</span></div>
    </section>
  </div>

  <div class="main">
    <h3>Credit cards</h3>
    <div class="main-container">
      <section *ngFor="let card of credits">
        <div class="container">
          <div class="cards item" [ngClass]="card.type">
            <h5 class="cardbefore" [ngClass]="card.status === blocked?  blocked: ''">{{card.cardTypes.original}}</h5>
            <p>Card number</p>
          </div>
          <div class="item ">
            <h5 class="amount">{{ card.amount | currency }}</h5>
            <p class="border">Available balance</p>
          </div>
          <div class="item">
            <h5 class="date">{{ card.expirationDate | date:'MM/yy' }}</h5>
            <p>Valid</p>
          </div>
          <div class="single-chart">
            <svg viewBox="0 0 36 36" class="circular-chart"
              [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">
              <path class="circle-bg" d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }" />
              <path class="circle" [style.stroke-dasharray]="card.share +', 100'" d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831" />
              <text x="18" y="17.35" class="percentage"
                [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">{{ card.share | number }}%</text>
              <text x="18" y="24.35" class="text"
                [ngClass]="{ 'orange': card.share > 50, 'green': card.share <= 50, 'grey': card.share == 0 }">Share</text>
            </svg>
          </div>
        </div>
        <div class="bg"><span>TBC</span></div>
      </section>
    </div>