@import "../../palette.scss";
@import "../../typography.scss";
$color-1: #fff;
$color-2: rgba(255, 171, 43, 0.05);
$color-3: rgba(109, 210, 48, 0.05);
$color-4: rgba(242, 244, 246, 0.05);
$bg-color-1: rgba(248, 250, 251, 0.61);
.main {
    display: flex;
    flex-direction: column;
    h3 {
        color: $secondary-dark-2;
        font-size: 16px;
        padding-left: 32px;
        margin: 0;
    }
    .main-container {
        padding: 25px 30px;
        display: flex;
        section {
            margin-left: 30px;
            flex: 1;
            &:nth-child(1) {
                margin-left: 0;
            }
            .container {
                padding: 0 20.4px 17px 17px;
                background-color: $color-1;
                display: flex;
                flex-direction: column;
                position: relative;
                .item {
                    padding: 17px 130px 10px 0;
                    &.cards:before {
                        content: url("../../assets/images/visaCard.png");
                    }
                    &.mastercard::before {
                        content: url("../../assets/images/master.png");
                    }
                    &.master {
                        padding-right: 96px;
                    }
                    h5 {
                        margin: 0;
                        font-size: 20px;
                        color: $primary-dark;
                        line-height: 0;
                        padding-bottom: 15px;
                        &.cardbefore {
                            padding-top: 45px;
                        }
                        &.amount,
                        &.date {
                            font-size: 16px;
                        }
                        &.blocked::after {
                            content: "\f271";
                            color: $secondary-dark-1;
                            display: inline-block;
                            padding-left: 12px;
                            font-size: 22px;
                            font-family: "LineAwesome";
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 0;
                        padding-bottom: 10px;
                        &.border {
                            border-bottom: 1px dashed $secondary-dark-2;
                            width: 70%;
                            padding-bottom: 20px;
                        }
                    }
                }
                .single-chart {
                    justify-content: space-around;
                    position: absolute;
                    top: 180px;
                    right: 50px;
                    width: 105px;
                    height: 105px;
                    .circular-chart {
                        display: block;
                        margin: 10px auto;
                        max-height: 250px;
                        .circle-bg {
                            fill: $color-2;
                            stroke: $outline;
                            stroke-width: 1.8;
                            &.green {
                                fill: $color-3;
                            }
                            &.grey {
                                fill: $color-4;
                            }
                        }
                        .circle {
                            fill: none;
                            stroke-width: 1.8;
                            stroke-linecap: round;
                            animation: progress 1.5s ease-out forwards;
                        }
                        &.orange {
                            .circle {
                                stroke: $primary;
                            }
                        }
                        &.green {
                            .circle {
                                stroke: $secondary-2;
                            }
                        }
                        &.grey {
                            .circle {
                                stroke: $background-1;
                            }
                        }
                        @keyframes progress {
                            0% {
                                stroke-dasharray: 0 100;
                            }
                        }
                        .percentage {
                            fill: $primary;
                            font-family: $Roboto;
                            font-size: 0.5em;
                            text-anchor: middle;
                            &.green {
                                fill: $secondary-2;
                            }
                            &.grey {
                                fill: $secondary-dark-2;
                            }
                        }
                        .text {
                            fill: $primary;
                            font-family: $Roboto;
                            font-size: 0.4em;
                            text-anchor: middle;
                            &.green {
                                fill: $secondary-2;
                            }
                            &.grey {
                                fill: $secondary-dark-2;
                            }
                        }
                    }
                }
            }
            .bg {
                background-color: $bg-color-1;
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                span {
                    font-size: 14px;
                    color: $primary-dark;
                    line-height: 0;
                    padding: 17px 0 19px 22px;
                    font-family: $Roboto;
                }
            }
        }
    }
}
