<div class="form-radio-container">
  <label [ngClass]="{selected: selector === value}" *ngFor="let selector of selectors">
    <input type="radio" class="form-radio" name="radio-button" [value]="selector" [(ngModel)]="value" (click)="selectType(selector)"
           [disabled]="disabled">
    {{selector}}
  </label>
</div>
