@import '../../palette.scss';

.form-radio-container {

  label {
    color: $secondary-dark-1;

    &.selected {
      color: $primary-dark;
    }

  }

  .form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    background-color: $outline;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;

    &:checked::before {
      position: absolute;
      left: 6px;
      top: 6px;
      content: "";
      width: 8px;
      height: 8px;
      display: block;
      background-color: #FFFFFF;
      border-radius: 50%;
    }

    &:checked {
      background-color: $secondary-dark-2;
    }

    &:disabled {
      opacity: 0.2;

      &:checked {
        opacity: 0.2;
      }
    }
  }

}


