<form class="security" [formGroup]="securetyForm" id="form">
  <div class="wrapperSec" *ngIf='customer'>
    <h2>Security</h2>
    <p class="secondary-dark-2 sec">Security questions</p>
    <div class="line "></div>
    <div class="secQuestionFirst">
      <div class="question">
        <p class="light">Question #1</p>
        <app-select-fields [list]="list2" (click)='arrangeLists()' formControlName='question1'></app-select-fields>
      </div>
      <div class="answer">
        <div class="labelWithError">
          <p class="light">Answer
          </p>
          <div class="Error" *ngIf="errorMesage3">
            <p class="light Error">
              {{errorMesage3}}
            </p>
          </div>
          <div *ngIf="values.answerFirst.errors?.required && (values.answerFirst.touch || values.answerFirst.dirty)">
            <p class="light Error">
              Answer is required.
            </p>
          </div>
          <div *ngIf="values.answerFirst.errors?.pattern">
            <p class="light Error">
              Answer should contain letters.
            </p>
          </div>
        </div>

        <label class="input-container"
          [ngClass]="{'error':values.answerFirst.invalid && (values.answerFirst.touch || values.answerFirst.dirty),'success':values.answerFirst.valid && values.answerFirst.dirty}">
          <input type="text" placeholder="Enter your answer" formControlName='answerFirst'>
        </label>

      </div>
    </div>
    <div class="secQuestionSecond">
      <div class="question">
        <p class="light">Question #2</p>
        <app-select-fields [list]="list2" formControlName='question2'></app-select-fields>
      </div>

      <div class="answer">
        <div class="labelWithError">
          <p class="light">Answer
          </p>
          <div class="Error" *ngIf="errorMesage1">
            <p class="light Error">
              {{errorMesage1}}
            </p>
          </div>
          <div class="Error" *ngIf="errorMesage2">
            <p class="light Error">
              {{errorMesage2}}
            </p>
          </div>
          <div *ngIf="values.answerSecond.invalid">
            <p class="light Error">
              Answer should contain letters.
            </p>
          </div>
        </div>
        <label class="input-container"
          [ngClass]="{'error':values.answerSecond.invalid ,'success':values.answerSecond.valid && (values.answerSecond.touch || values.answerSecond.dirty)}">
          <input type="text" [required]="error1&&!error2" placeholder="Enter your answer"
            formControlName='answerSecond'>
        </label>
      </div>
    </div>
  </div>
  <button (click)=' onSubmit()' [disabled]="(!isValid || !isTouched)"
    [ngClass]="{'resting' : !isValid || !isTouched , 'update' : isValid && isTouched }">UPDATE SETTINGS</button>
</form>