@import "../../styles";

.security {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .answer {
    div.labelWithError {
      display: flex;
      flex-direction: row !important;
    }
  }

  h2 {
    margin-top: 0;
  }

  button {
    padding-left: 45px;
    padding-right: 47px;
    letter-spacing: 1.5px;
    max-width: 220px;

    &.update {
      padding-left: 40px;
      padding-right: 41px;
      letter-spacing: 1.5px;
      margin-right: 13px;
    }
  }

  .wrapperSec {
    width: 850px;
    height: 597px;

    input {
      width: 336px;
      height: 52px;
    }

    p {
      font-size: 14px;
      margin-bottom: 15px;

      &.Error {
        color: $secondary-3;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    span {
      color: $secondary-3;
      font-size: 14px;
    }

    h2 {
      margin-bottom: 23px;
    }
    .line {
      width: 698px;
      height: 1px;
      background-color: $outline;
      margin-bottom: 14px;
    }

    .sec {
      margin-bottom: 6px;
    }

    #current {
      input {
        padding-top: 5px;
        padding-left: 13px;
      }
    }

    #answer {
      input {
        padding-top: 6px;
      }
    }

    .secQuestionFirst {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      width: 698px;
      margin-bottom: 11px;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 337px;

        span {
          margin-bottom: 13px;
        }
      }
      .answer {
        span {
          margin-bottom: 13px;
        }

        input {
          &::placeholder {
            color: $secondary-dark-2;
          }
        }
      }
    }

    .secQuestionSecond {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      width: 698px;
      margin-bottom: 183px;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 337px;

        span {
          margin-bottom: 13px;
        }
      }

      .answer {
        span {
          margin-bottom: 12px;
        }

        input {
          padding-left: 14px;
          padding-top: 5px;
          &::placeholder {
            color: $secondary-dark-2;
          }
        }
      }
    }
  }
}
