@import "../../palette.scss";
@import "../../typography.scss";

.createCard-container {
    display: flex;

    >* {
        flex: 1;
        margin: 0 20px;
    }


    app-bank-transactions .transactions {
        height: 100%;
        margin-top: 0;

        >div.list {
            height: unset;
        }
    }

    .createCard-wrap {
        display: flex;
        width: 555px;
        height: 760px;
        background-color: white;
        border-radius: 4px;
        padding-top: 14px;
        padding-right: 20px;
        padding-left: 25px;
        border: 1px solid $outline;

        .header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $outline;

            caption {
                color: $primary-dark;
                margin-left: 17px;
            }

            .leftHeader {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }

            .amount {
                margin-top: 8px;
            }
        }

        .card-background {
            z-index: 1;
            position: relative;

            img {
                margin-top: -25px;
            }

            .cardCaption {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;

                .la {
                    color: $primary;
                    font-size: 80px;
                    margin-bottom: 15px;
                }

                caption {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .cardInformation {
            color: $secondary-dark-2;
            font-family: $Roboto;
            font-size: 14px;
            margin-top: -75px;

            &.dep {
                margin-top: -70px;
            }

            .inputsDiv {
                position: relative;
                display: flex;
                justify-content: space-between;
                height: 45px;
                width: 100%;
                border-bottom: 1px solid $outline;

                .error-message {
                    position: absolute;
                    left: 106%;
                    width: 142px;
                    top: 7px;
                }

                span {
                    margin-bottom: auto;
                    margin-top: auto;
                }

                &.interest,
                &.paidAmount,
                &.security {
                    border: none;
                }

                ::placeholder {
                    color: $secondary-dark-2;
                    text-align: right;
                }

                .toggle {
                    align-self: center;
                }
            }

            .inputStyle {
                border: none;
                width: 240px;
                height: 43px;
                background: none;
                z-index: 2;
            }
        }

        .buttons {
            margin-top: 14px;

            button {
                color: white !important;
            }

            button:disabled,
            button[disabled] {
                background-color: $outline;
                color: white;
            }
        }

        .expirationDate .datepicker {
            margin-right: -176px;
        }

        .datepicker {
            width: 240px;
            border: none;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-right: -112px;
        }

        .md-drppicker td.available:hover,
        .md-drppicker th.available:hover {
            background-color: $primary;
            opacity: 0.5;

        }

        .md-drppicker td.active,
        .md-drppicker td.active:hover {
            background-color: $primary;
        }



        //error-message styles


        .error-message {
            left: 8px;
            color: white;
            padding: 5px 5px 5px 5px;
            position: relative;
            background: $primary;
            width: auto;
            height: min-content;
            border-radius: 5px;

            &:after {
                position: absolute;
                content: "";
                left: -4px;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 10px solid #FFAB2B;
            }
        }

    }
}