<div class="createCard-container">
    <div class="createCard-wrap">
        <div>
            <div class="header">
                <div class="leftHeader">
                    <img src="assets/create-card-images/Icons-Visa.png" alt="Icons-Visa">
                    <caption>Add new {{type}} card</caption>
                </div>
                <div class="amount">$0.00</div>
            </div>
            <div class="card-background">
                <img alt="Card" src="assets/create-card-images/card-background.png">
                <div class="cardCaption">
                    <i class="la la-plus-circle"></i>
                    <caption>Add a new {{type}} card</caption>
                    <span>Start process</span>
                </div>
            </div>
    
            <form [formGroup]="cardForm" class="cardInformation" *ngIf="type == 'debit'">
                <div class="inputsDiv cardName">
                    <span>Card name</span>
                    <input formControlName="CARDcardName" class="inputStyle" type="text"
                        placeholder="Please add your card name">
                    <div class="error-message" *ngIf='CARDcardName.invalid && (CARDcardName.dirty || CARDcardName.touched)'>
                        <div *ngIf="!!CARDcardName.errors?.Required">
                            {{CARDcardName["errors"]["Required"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv cardNumber">
                    <span>Card number</span>
                    <input formControlName="CARDcardNumber" class="inputStyle" type="text"
                        placeholder="Please add your card number">
                    <div class="error-message"
                        *ngIf='CARDcardNumber.invalid && (CARDcardNumber.dirty || CARDcardNumber.touched)'>
                        <div *ngIf="!!CARDcardNumber.errors?.Required">
                            {{CARDcardNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CARDcardNumber.errors?.InvalidCardNumber">
                            {{CARDcardNumber["errors"]["InvalidCardNumber"]["message"]}}
                        </div>
                    </div>
                    <div class="error-message" *ngIf="isCardTaken">
                        This card is used
                    </div>
                </div>
                <div class="inputsDiv accountNumber">
                    <span>Account number</span>
                    <input formControlName="CARDaccountNumber" class="inputStyle" type="text"
                        placeholder="Please add your account number">
                    <div class="error-message"
                        *ngIf='CARDaccountNumber.invalid && (CARDaccountNumber.dirty || CARDaccountNumber.touched)'>
                        <div *ngIf="!!CARDaccountNumber.errors?.Required">
                            {{CARDaccountNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CARDaccountNumber.errors?.InvalidAccountNumber">
                            {{CARDaccountNumber["errors"]["InvalidAccountNumber"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv cardholder">
                    <span>Cardholder</span>
                    <input formControlName="CARDcardholder" class="inputStyle" type="text"
                        placeholder="Please add your name">
                    <div class="error-message"
                        *ngIf='CARDcardholder.invalid && (CARDcardholder.dirty || CARDcardholder.touched)'>
                        <div *ngIf="!!CARDcardholder.errors?.Required">
                            {{CARDcardholder["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CARDcardholder.errors?.InvalidName">
                            {{CARDcardholder["errors"]["InvalidName"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv expirationDate">
                    <span>expiration date</span>
                    <input formControlName="CARDexpirationDate" type="text" class="datepicker" placeholder="Pick a date"
                        ngxDaterangepickerMd [isInvalidDate]="isInvalidDate" [isCustomDate]="isCustomDate" [locale]="locale"
                        [singleDatePicker]="true" [autoApply]="true" />
                </div>
                <div class="inputsDiv availableAmount">
                    <span>Available amount</span>
                    <input formControlName="CARDavailableAmount" class="inputStyle" type="text"
                        placeholder="Please add available amount on card">
                    <div class="error-message"
                        *ngIf='CARDavailableAmount.invalid && (CARDavailableAmount.dirty || CARDavailableAmount.touched)'>
                        <div *ngIf="!!CARDavailableAmount.errors?.Required">
                            {{CARDavailableAmount["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CARDavailableAmount.errors?.InvalidAmount">
                            {{CARDavailableAmount["errors"]["InvalidAmount"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv security">
                    <span>3D Security</span>
                    <app-toogle formControlName="CARDsecurity" class="toggle"></app-toogle>
                </div>
                <div class="buttons">
                    <button [disabled]='!!cardForm.errors?.InvalidInputsForCardForm' (click)="addCard()">add
                        {{type}} card</button>
                </div>
            </form>
    
    
            <form [formGroup]="creditForm" class="cardInformation" *ngIf="type == 'credit'">
                <div class="inputsDiv cardName">
                    <span>Card Name</span>
                    <input formControlName="CREname" class="inputStyle" type="text" placeholder="Please add a name">
                    <div class="error-message" *ngIf='CREname.invalid && (CREname.dirty || CREname.touched)'>
                        <div *ngIf="!!CREname.errors?.Required">
                            {{CREname["errors"]["Required"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv cardNumber">
                    <span>Card number</span>
                    <input formControlName="CREcardNumber" class="inputStyle" type="text"
                        placeholder="Please add your card number">
                    <div class="error-message"
                        *ngIf='CREcardNumber.invalid && (CREcardNumber.dirty || CREcardNumber.touched)'>
                        <div *ngIf="!!CREcardNumber.errors?.Required">
                            {{CREcardNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CREcardNumber.errors?.InvalidCardNumber">
                            {{CREcardNumber["errors"]["InvalidCardNumber"]["message"]}}
                        </div>
                    </div>
                    <div class="error-message" *ngIf="isCardTaken">
                        This card is used
                    </div>
                </div>
                <div class="inputsDiv accountNumber">
                    <span>Account number</span>
                    <input formControlName="CREaccountNumber" class="inputStyle" type="text"
                        placeholder="Please add your account number">
                    <div class="error-message"
                        *ngIf='CREaccountNumber.invalid && (CREaccountNumber.dirty || CREaccountNumber.touched)'>
                        <div *ngIf="!!CREaccountNumber.errors?.Required">
                            {{CREaccountNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CREaccountNumber.errors?.InvalidAccountNumber">
                            {{CREaccountNumber["errors"]["InvalidAccountNumber"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv rate">
                    <span>Rate</span>
                    <input formControlName="CRErate" class="inputStyle" type="text" placeholder="Please add a rate">
                    <div class="error-message" *ngIf='CRErate.invalid && (CRErate.dirty || CRErate.touched)'>
                        <div *ngIf="!!CRErate.errors?.Required">
                            {{CRErate["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CRErate.errors?.InvalidRate">
                            {{CRErate["errors"]["InvalidRate"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv startDate">
                    <span>Start and expiration date</span>
                    <input formControlName="CREstartAndExpirationDate" type="text" class="datepicker"
                        placeholder="Pick dates" ngxDaterangepickerMd [isInvalidDate]="isInvalidDate"
                        [isCustomDate]="isCustomDate" [locale]="locale" [singleDatePicker]="false" [autoApply]="true" />
                </div>
                <div class="inputsDiv startingAmount">
                    <span>Starting amount</span>
                    <input formControlName="CREstartingAmount" class="inputStyle" type="text"
                        placeholder="Please add starting amoung">
                    <div class="error-message"
                        *ngIf='CREstartingAmount.invalid && (CREstartingAmount.dirty || CREstartingAmount.touched)'>
                        <div *ngIf="!!CREstartingAmount.errors?.Required">
                            {{CREstartingAmount["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CREstartingAmount.errors?.InvalidAmount">
                            {{CREstartingAmount["errors"]["InvalidAmount"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv paidAmount">
                    <span>Paid amount</span>
                    <input formControlName="CREpaidAmount" class="inputStyle" type="text"
                        placeholder="Please add paid amount">
                    <div class="error-message"
                        *ngIf='CREpaidAmount.invalid && (CREpaidAmount.dirty || CREpaidAmount.touched)'>
                        <div *ngIf="!!CREpaidAmount.errors?.Required">
                            {{CREpaidAmount["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!CREpaidAmount.errors?.InvalidAmount">
                            {{CREpaidAmount["errors"]["InvalidAmount"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button [disabled]='!!creditForm.errors?.InvalidInputsForCredit' (click)="addCredit()">add
                        {{type}} card</button>
                </div>
            </form>
    
    
    
    
            <form [formGroup]="depositForm" class="cardInformation dep" *ngIf="type == 'deposit'">
                <div class="inputsDiv cardName">
                    <span>Card Name</span>
                    <input formControlName="DEPname" class="inputStyle" type="text" placeholder="Please add a name">
                    <div class="error-message" *ngIf='DEPname.invalid && (DEPname.dirty || DEPname.touched)'>
                        <div *ngIf="!!DEPname.errors?.Required">
                            {{DEPname["errors"]["Required"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv cardNumber">
                    <span>Card number</span>
                    <input formControlName="DEPcardNumber" class="inputStyle" type="text"
                        placeholder="Please add your card number">
                    <div class="error-message"
                        *ngIf='DEPcardNumber.invalid && (DEPcardNumber.dirty || DEPcardNumber.touched)'>
                        <div *ngIf="!!DEPcardNumber.errors?.Required">
                            {{DEPcardNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!DEPcardNumber.errors?.InvalidCardNumber">
                            {{DEPcardNumber["errors"]["InvalidCardNumber"]["message"]}}
                        </div>
                    </div>
                    <div class="error-message" *ngIf="isCardTaken">
                        This card is used
                    </div>
                </div>
                <div class="inputsDiv accountNumber">
                    <span>Account number</span>
                    <input formControlName="DEPaccountNumber" class="inputStyle" type="text"
                        placeholder="Please add your account number">
                    <div class="error-message"
                        *ngIf='DEPaccountNumber.invalid && (DEPaccountNumber.dirty || DEPaccountNumber.touched)'>
                        <div *ngIf="!!DEPaccountNumber.errors?.Required">
                            {{DEPaccountNumber["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!DEPaccountNumber.errors?.InvalidAccountNumber">
                            {{DEPaccountNumber["errors"]["InvalidAccountNumber"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv rate">
                    <span>Rate</span>
                    <input formControlName="DEPrate" class="inputStyle" type="text" placeholder="Please add a rate">
                    <div class="error-message" *ngIf='DEPrate.invalid && (DEPrate.dirty || DEPrate.touched)'>
                        <div *ngIf="!!DEPrate.errors?.Required">
                            {{DEPrate["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!DEPrate.errors?.InvalidRate">
                            {{DEPrate["errors"]["InvalidRate"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv startDate">
                    <span>Start and expiration date</span>
                    <input formControlName="DEPstartAndExpirationDate" type="text" class="datepicker"
                        placeholder="Pick dates" ngxDaterangepickerMd [isInvalidDate]="isInvalidDate"
                        [isCustomDate]="isCustomDate" [locale]="locale" [singleDatePicker]="false" [autoApply]="true" />
                </div>
                <div class="inputsDiv startingAmount">
                    <span>Amount</span>
                    <input formControlName="DEPamount" class="inputStyle" type="text"
                        placeholder="Please add starting amoung">
                    <div class="error-message" *ngIf='DEPamount.invalid && (DEPamount.dirty || DEPamount.touched)'>
                        <div *ngIf="!!DEPamount.errors?.Required">
                            {{DEPamount["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!DEPamount.errors?.InvalidAmount">
                            {{DEPamount["errors"]["InvalidAmount"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="inputsDiv interest">
                    <span>Accured Interest</span>
                    <input formControlName="DEPaccuredInterest" class="inputStyle" type="text"
                        placeholder="Please add paid amount">
                    <div class="error-message"
                        *ngIf='DEPaccuredInterest.invalid && (DEPaccuredInterest.dirty || DEPaccuredInterest.touched)'>
                        <div *ngIf="!!DEPaccuredInterest.errors?.Required">
                            {{DEPaccuredInterest["errors"]["Required"]["message"]}}
                        </div>
                        <div *ngIf="!!DEPaccuredInterest.errors?.InvalidAmount">
                            {{DEPaccuredInterest["errors"]["InvalidAmount"]["message"]}}
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button [disabled]='!!depositForm.errors?.InvalidInputsForDeposit' (click)="addDeposit()">add
                        {{type}} card</button>
                </div>
            </form>
        </div>
    </div>
    <app-bank-transactions
    title='Latest transactions'
    [smallMode]="true"
    ></app-bank-transactions>
</div>