<div class="checkbox-container">
  <label [ngClass]="{checked: value, disabled: disabled, required: required}">{{title}}
    <input type="checkbox" [(ngModel)]="value" (change)="changeValue(!$event.target.checked)" [disabled]="disabled" [required]="required"/>
    <span class="checkmark"></span>
  </label>
</div>
