@import "../../palette";
@import "../../typography";

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 2px;

  label {
    cursor: pointer;
    color: $secondary-dark-2;

    &.checked {
      color: $primary-dark;

      &.required {
        color: $secondary-2;
      }
    }

    &.disabled {
        opacity: 0.7;
    }

    &.required {
        color: $secondary-3;

        .checkmark {
            background: rgba($secondary-3, 0.15);

            &:after {
                content: "";
                background: rgba($secondary-2, 1);
                box-shadow: 2px 0 0 rgba($secondary-2, 1),
                4px 0 0 rgba($secondary-2, 1),
                4px -2px 0 rgba($secondary-2, 1),
                4px -4px 0 rgba($secondary-2, 1),
                4px -6px 0 rgba($secondary-2, 1),
                4px -8px 0 rgba($secondary-2, 1);
            }
        }

        input {
            &:checked ~ .checkmark {
                background-color: rgba($secondary-2, 0.15);
            }
        }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $secondary-dark-2;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      background: $outline;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 9px;
        width: 2px;
        height: 2px;
        background: $background-1;
        box-shadow: 2px 0 0 $background-1,
        4px 0 0 $background-1,
        4px -2px 0 $background-1,
        4px -4px 0 $background-1,
        4px -6px 0 $background-1,
        4px -8px 0 $background-1;
        transform: rotate(45deg);
      }
    }
  }
}
