<form [formGroup]="generalForm" (ngSubmit)="onSubmit(generalForm)">
  <span>
    <h2>General Information</h2>
    <div class="user">
      <div class="avatar"><i class="la"
          [ngClass]="{'la-female': customer?.sex=='female', 'la-male': customer?.sex=='male'}"></i></div>
      <h4 *ngIf="customer?.name && customer?.surname ">{{customer?.name + ' ' +  customer?.surname}}</h4>
    </div>
    <div>
      <div>
        <p class="light">First name</p>
        <label class="input-container"
          [ngClass]="{'error':name.touched && name.invalid,'success':name.touched && !name.invalid}">
          <input type="text" placeholder="Enter your name" formControlName="name">
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              Name is required
            </div>
          </div>
        </label>
      </div>
      <div>
        <p class="light">Last name</p>
        <label class="input-container"
          [ngClass]="{'error':surname.touched && surname.invalid,'success':surname.touched && !surname.invalid}">
          <input type="text" placeholder="Enter your surname" formControlName="surname">
          <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <div *ngIf="surname.errors.required">
              Surname is required
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="contact">
      <div>
        <p class="light">Email</p>
        <label class="input-container"
          [ngClass]="{'error':email.touched && email.invalid,'success':email.touched && !email.invalid}">
          <input type="email" placeholder="Enter your email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
            <div *ngIf="email.errors.email">
              Email should have type email
            </div>
          </div>
        </label>
      </div>
      <div>
        <p class="light">Phone</p>
        <label class="input-container"
          [ngClass]="{'error':phone.touched && phone.invalid,'success':phone.touched && !phone.invalid}">
          <input type="text" placeholder="Enter phone number" formControlName="phone">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div *ngIf="phone.errors.required">
              Phone number is requried
            </div>
            <div *ngIf="phone.errors.pattern">
              Phone number must contain numbers only
            </div>
            <div *ngIf="phone.errors.minlength || phone.errors.maxlength">
              Phone number length should be 7
            </div>
          </div>
        </label>
      </div>
    </div>
    <div>
      <div>
        <p class="light">Language</p>
        <app-select-fields [list]="languageList" formControlName="language"></app-select-fields>
      </div>
      <div>
        <p class="light">Sex</p>
        <app-select-fields [list]="list" formControlName="sex"></app-select-fields>
      </div>
    </div>
    <div>
      <div>
        <p class="light">About me</p>
        <app-textarea-with-emoji formControlName="about"></app-textarea-with-emoji>
      </div>
    </div>
    <div *ngIf="requiredFields">
      All fields should be filled
    </div>
  </span>
  <button class="update active" type="submit" [ngClass]="{'resting':disabled()}">Update settings</button>
</form>
