@import "../../palette.scss";

form {
  width: 696px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-top: 0;
    margin-bottom: 19px;
    letter-spacing: 0.3px;
  }
  .user {
    height: 120px;
    display: flex;
    align-items: center;
    border: 1px solid $outline;
    border-radius: 4px;
    padding-left: 27px;
    margin-bottom: 20px;

    .avatar {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 67px;
      height: 67px;
      margin-right: 22px;
      overflow: hidden;
      border-radius: 50%;
      background-color: $outline;
      font-size: 58px;
    }

    h4 {
      letter-spacing: 0.2px;
    }
  }
  .contact {
    margin-bottom: 11px;
  }

  span {
    > div {
      display: flex;
      margin-bottom: 12px;

      > div {
        width: 100%;
      }

      > div:first-child {
        margin-right: 25px;
      }

      input {
        width: 336px;
        height: 52px;
        box-sizing: border-box;
        padding-left: 16px;
      }

      p {
        font-size: 14px;
      }

      &.selectForm {
        margin-bottom: 141px;
      }
      ::-webkit-input-placeholder {
        color: $secondary-dark-2;
      }
    }
  }
}

button {
  padding-left: 45px;
  padding-right: 47px;
  letter-spacing: 1.5px;
  max-width: 220px;

  &.update {
    padding-left: 40px;
    padding-right: 41px;
    letter-spacing: 1.5px;
    margin-right: 13px;
    color: #ffffff;
  }
}
