<section>
    <a class="window-refresh"></a>
    <app-tabs>
        <app-tab title="All">
            <div class="list-container">
                <ul *ngFor="let data of datas">
                    <li class="act" (click)=addFav(data) [@openClose]="data.id ? 'open' : 'close'"></li>
                    <li>{{data.symbol}}</li>
                    <li>{{data.price}}</li>
                    <li [@posNeg]="data.day_change > 0 ? 'pos' : 'neg'">{{data.day_change}}</li>
                    <li [@posNeg]="data.day_change > 0 ? 'pos' : 'neg'">{{data.change_pct}}%</li>
                </ul>
            </div>
        </app-tab>
        <app-tab title="Favorites">
            <div class="list-container">
                <ul *ngFor="let data of dataFav">
                    <li class="act" (click)=addFav(data) [@openClose]="data.id ? 'open' : 'close'"></li>
                    <li>{{data.symbol}}</li>
                    <li [@posNeg]="data.day_change > 0 ? 'pos' : 'neg'">{{data.price}}</li>
                    <li [@posNeg]="data.day_change > 0 ? 'pos' : 'neg'">{{data.day_change}}</li>
                    <li [@posNeg]="data.day_change > 0 ? 'pos' : 'neg'">{{data.change_pct}}%</li>
                </ul>
            </div>
        </app-tab>
    </app-tabs>
</section>
