@import '../../palette.scss';

$star-default: #979797;
$white: #FFFFFF;

section {
    position: relative;
    width: 530px;
    height: 100%;
    background-color: $white;
    overflow: hidden;
    padding-right: 20px;

    .window-refresh {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 3%;
        right: 3%;

        &:active {
            transform: rotate(90deg);
        }

        &::before {
            content: '\f2d5';
            color: $secondary-dark-1;
            font-family: 'LineAwesome';
        }
    }

    app-tabs {

        app-tab {

            .list-container{
                

                &::after {
                    width: 80%;
                    height: 1px;
                    background-color: $background-1;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;

                    li {
                        color: #252631;

                        &.act {

                            &::before {
                                content: '\f318';
                                cursor: pointer;
                                font-family: 'LineAwesome';
                            }
                        }
                    }
                }
            }
        }
    }
}
