<div class="dashboard">
    <section class="main-dash">
        <h3>Funds overview</h3>
        <div class="charts">
            <div class="line-chart">
                <app-dashboard-income-line-chart [data]="data"></app-dashboard-income-line-chart>
            </div>
            <div class="bar-chart">
                <app-dashboard-cards-bar-chart [data]="data"></app-dashboard-cards-bar-chart>
            </div>
        </div>
        <h3>
            <span>Your cards</span>
            <a href="">ALL ACCOUNTS</a>
        </h3>
        <div class="items">
            <div class="row" *ngFor="let card of cards">
                <div class="card-main" [ngClass]="card.type">
                    <div>
                        <span class="primary">{{ card.cardTypes.original }}</span>
                        <span class="secondary">{{ card.name }}</span>
                    </div>
                </div>
                <div>
                    <span class="primary" [ngClass]="card.status === 'blocked'? 'disabled': ''">{{ card.amount | currency }}</span>
                    <span class="secondary">Balance</span>
                </div>
            </div>
        </div>
    </section>
    <section class="transactions-dash">
        <h3>Transactions</h3>
        <div class="item" *ngFor="let trans of transactions">
            <span class="{{ trans.icon }}"></span>
            <div class="cont">
                <span class="primary">{{ trans.title }}</span>
                <span class="secondary">{{ trans.created | date:"d LLL h:m aaa" }}</span>
            </div>
        </div>
    </section>
</div>