@import '../../palette.scss';
@import '../../typography.scss';

$rubik: 'Rubik', sans-serif;
$awesome: 'LineAwesome';
$white:#FFFFFF;

.dashboard {
    font-family: $Roboto;
    display: flex;
    min-height: 100%;

    .main-dash {
        flex: 1;
        width: auto;
        padding-right: 30px;
        margin-right: 30px;
        border-right: 1px solid $outline;
        min-height: 100%;

        h3 {
            font-size: 16px;
            color: $secondary-dark-1;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 12px;
                color: $primary-dark;
                font-weight: 500;
            }
        }

        .charts {
            display: flex;
            margin-bottom: 15px;

            .line-chart {
                flex: 1;
                background: $white;
                margin-right: 30px;
                border-radius: 4px;
            }

            .bar-chart {
                border-radius: 4px;
                flex: 1;
                background: $white;
            }

            .chart-head {
                padding: 21px;
                font-size: 14px;
                color: $primary-dark;
                font-weight: 500;

                span {
                    border-bottom: 1.5px solid $primary-dark;
                    padding-bottom: 20px;
                }

                &.border {
                    border-bottom: 1px solid $background-1;
                }
            }

            .chart-body {
                padding: 21px 22px;

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;

                    .sum {
                        display: flex;
                        flex-direction: column;

                        .primary {
                            font-size: 26px;
                            color: $primary-dark;
                        }
                        
                        .secondary {
                            font-size: 14px;
                            color: $secondary-dark-2;
                        }
                    }

                    & > span {
                        background: $background-2;
                        font-size: 14px;
                        font-family: $rubik;
                        font-weight: 400;
                        color: $primary-dark;
                        border-radius: 18px;
                        display: flex;
                        padding: 15px 20px;
                        align-items: center;

                        &::before {
                            content: '';
                            display: inline-block;
                            background: $primary;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .chart-footer {
                display: flex;
                padding: 21px;

                span {
                    flex: 1;
                }
            }
        }
    }

    .items {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            background: $white;
            padding: 21px 18px;
            border-bottom: 1px solid $outline;
            justify-content: space-between;

            &:last-of-type {
                border: 0;
            }

            div {
                display: flex;
                flex-direction: column;

                .primary {
                    color: $primary-dark;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                .secondary {
                    color: $secondary-dark-2;
                    font-size: 14px;
                }

            }

            & > div:last-of-type {

                .secondary {
                    text-align: right;
                }
            }

            .card-main {
                flex-direction: row;

                &::before {
                    content: '';
                    background-repeat: no-repeat;
                    background-color: $background-2;
                    display: block;
                    width: 58.14px;
                    height: 40px;
                    margin-right: 22px;
                    background-position: center;
                    border-radius: 4px;
                }

                &.visa::before {
                    background-image: url(../../assets/images/visa.png);
                }

                &.mastercard::before {
                    background-image: url(../../assets/images/mastercard.png);
                }
            }
        }

    }

    .transactions-dash {
        width: 330px;

        h3 {
            font-size: 16px;
            color: $secondary-dark-1;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
        }

        .item {
            border-radius: 4px;
            width: 100%;
            background: $white;
            padding: 14px 12px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            
            span::before {
                display: inline-block;
                font-family: $awesome;
                margin-right: 12px;
                font-size: 26px;
            }

            span.bank::before {
                content: '\f12d';
            }

            span.anchor::before {
                content: '\f109';
            }
            span.online::before {
                content: '\f2af';
            }

            .cont {
                display: flex;
                flex-direction: column;

                .primary {
                    font-size: 16px;
                    color: $primary-dark;
                    margin-bottom: 5px;
                }
                
                .secondary {
                    font-size: 14px;
                    color: $secondary-dark-2;
                }
            }
        }
    }
}
