$white: #FFFFFF;
$primary-hover: #F4A42B;
$secondary-2-hover: #69C930;
$secondary-1-hover: #4B78F3;
$secondary-3-hover: #F34B91;
$secondary-4-hover: #2CDBEC;

button {
    position: relative;
    padding: 15px 79.5px;
    border: none;
    border-radius: 4px;
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $primary-hover;
        cursor: pointer;
    }

    &.heart {

        &::before {
            content: '\f234';
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-10%, -50%);
            font-family: 'LineAwesome', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &.resting {
        background-color: $background-1;
        color: $secondary-dark-1;

        &:hover {
            color: $primary;
        }
    }

    &.outline {
        border: 2px solid $primary;
        background-color: $white;
        color: $primary-dark;

        &:hover {
            color: $primary;
        }

        &.resting {
            border-color: $outline;
            color: $secondary-dark-1;

            &:hover {
                color: $primary;
            }
        }
    }

    &.secondary-1 {
        background-color: $secondary-1;

        &:hover {
            background-color: $secondary-1-hover;
        }
    }

    &.secondary-2 {
        background-color: $secondary-2;

        &:hover {
            background-color: $secondary-2-hover;
        }
    }

    &.secondary-3 {
        background-color: $secondary-3;

        &:hover {
            background-color: $secondary-3-hover;
        }
    }

    &.secondary-4 {
        background-color: $secondary-4;

        &:hover {
            background-color: $secondary-4-hover;
        }
    }
}
