$darkertext: #1B1E24;

.input-container {
  display: inline-block;
  position: relative;
  color: $primary-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  &::after {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    width: 10px;
    height: 10px;
    font-family: 'LineAwesome', sans-serif;
  }

  &.error {

    &::after {
      content: '\f12c';
    }

    input {
      border: 2px solid $secondary-3;
      color: $darkertext;
      outline: none;
    }
  }

  &.success {

    &::after {
      content: '\f17b';
    }

    input {
      border: 2px solid $secondary-2;
      color: $darkertext;
      outline: none;
    }
  }

  input {
    display: block;
    width: 342px;
    height: 50px;
    padding-left: 15px;
    border: 2px solid $outline;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    &:disabled {
      background-color: $background-2;
      color: $secondary-dark-2;
    }

  }
}
