$Roboto: "Roboto";
h1 {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: $primary-dark;
}
h2 {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $primary-dark;
}
h3 {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $primary-dark;

  &.primary {
    color: $primary;
  }
}
h4 {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $primary-dark;

  &.primary {
    color: $primary;
  }

  &.secondary-dark-1 {
    color: $secondary-dark-1;
  }
}
h5 {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $primary-dark;

  &.primary {
    color: $primary;
  }

  &.secondary-dark-1 {
    color: $secondary-dark-1;
  }
}
caption {
  font-family: $Roboto;
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
  color: $primary-dark;
}
button {
  font-family: $Roboto;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  text-transform: uppercase;
  color: $primary-dark;
}
p {
  font-family: $Roboto;
  font-weight: 400;
  line-height: 14px;
  font-size: 21px;
  color: $primary-dark;

  &.secondary-dark-2 {
    color: $secondary-dark-2;
  }
  &.light {
    font-weight: 300;
  }
}
a {
  font-family: $Roboto;
  font-weight: 500;
  line-height: 14px;
  font-size: 19px;
  color: $primary-dark;
}
