@import '../../palette.scss';
@import '../../typography.scss';

$rubik: 'Rubik', sans-serif;
$awesome: 'LineAwesome';
$white:#FFFFFF;

.account {
    font-family: $Roboto;
    
    .charts {
        display: flex;

        .chart-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 5px;
            padding-top: 15px;

            div:first-child {
                display: flex;
                flex-direction: column;
            }
        }

        & > div {
            flex: 1 0;
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            background: $white;
            padding: 15px 21px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    section {

        .items {
            padding: 2px 25px;
            background: $white;
        }

        div {

            .primary {
                color: $primary-dark;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 8px;
            }

            .secondary {
                color: $secondary-dark-2;
                font-size: 14px;
            }

            .disabled {
                color: $secondary-dark-1;
            }

            &.row {
                cursor: pointer;
                display: flex;
                padding: 16px 0;
                border-bottom: 1px solid $outline;

                div {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .primary {
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: 16px;
                    }

                    &:first-child {
                        flex: 2;
                    }

                    &.card-main, &.deposit-main, &.loan-main {
                        flex-direction: row;
                        align-items: center;

                        &::before {
                            content: '';
                            background-repeat: no-repeat;
                            background-color: $background-2;
                            display: block;
                            width: 58.14px;
                            height: 40px;
                            margin-right: 22px;
                            background-position: center;
                            border-radius: 4px;
                        }
                    }

                    &.deposit-main::before {
                        content: '\f360';
                        color: $primary;
                        background-color: rgba($primary, .1);
                        font-family: $awesome;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &.card-main, &.loan-main {

                        &.visa::before {
                            background-image: url(../../assets/images/visa.png);
                        }

                        &.mastercard::before {
                            background-image: url(../../assets/images/mastercard.png);
                        }
                    }
                }

                & > div {
                    &:last-child {
                        text-align: right;
                    }
                }

                &:last-of-type {
                    border: none;
                }
            }

        }

        h3 {
            display: flex;
            justify-content: space-between;
            color: $secondary-dark-1;
            font-size: 16px;

            a {
                text-decoration: none;
                color: $primary-dark;
                font-size: 12px;
                display: flex;
                margin-top: 4px;

                &::before {
                    content: '\f2c3';
                    font-family: $awesome;
                    color: $primary;
                    font-size: 18px;
                    margin-right: 8px;
                }
            }
        }
    }
}