<div class="account" *ngIf="!isAllEmpty">
    <section class="charts">
        <div class="chart-wrapper">
            <div>
                <span class="primary">{{ total('cards') | currency }}</span>
                <span class="secondary">Cards balance</span>
            </div>
            <div class="chart">
                <app-line-chart [options]=firstChart></app-line-chart>
            </div>
        </div>
        <div class="chart-wrapper">
            <div>
                <span class="primary">{{ total('deposits') | currency }}</span>
                <span class="secondary">Deposit ({{averageRate}}% Rate)</span>
            </div>
            <div class="chart">
                <app-line-chart [options]=chartOption[1]></app-line-chart>
            </div>
        </div>
        <div class="chart-wrapper">
            <div>
                <span class="primary">{{ total('loans') | currency }}</span>
                <span class="secondary">Pending credit</span>
            </div>
            <div class="chart">
                <app-line-chart [options]=chartOption[2]></app-line-chart>
            </div>
        </div>
    </section>
    <section class="cards">
        <h3>
            <span>Your cards</span>
            <a routerLink="/cards/new" [queryParams]="{type: 'debit'}">NEW CART</a>
        </h3>
        <div class="items">
            <div class="row" *ngFor="let card of cards" [routerLink]="[card.objectId]">
                <div class="card-main" [ngClass]="card.type">
                    <div>
                        <span class="primary">{{ card.cardTypes?.original }}</span>
                        <span class="secondary">{{ card.name }}</span>
                    </div>
                </div>
                <div>
                    <span class="primary" [ngClass]="card.status === 'blocked'? 'disabled': ''">{{ card.amount | currency }}</span>
                    <span class="secondary">Balance</span>
                </div>
                <div>
                    <span class="primary" [ngClass]="card.status === 'blocked'? 'disabled': ''">{{ card.expirationDate | date:'MM/yy' }}</span>
                    <span class="secondary">Valid</span>
                </div>
            </div>
        </div>
    </section>
    <section class="deposit">
        <h3>
            <span>Open Deposit</span>
            <a routerLink="/cards/new" [queryParams]="{type: 'deposit'}">NEW DEPOSIT</a>
        </h3>
        <div class="items">
            <div class="row" *ngFor="let deposit of deposits" [routerLink]="[deposit.objectId]">
                <div class="deposit-main">
                    <div>
                        <span class="primary">{{ deposit.name }}</span>
                        <span class="secondary">Name</span>
                    </div>
                </div>
                <div>
                    <span class="primary">{{ deposit.amount | currency }}</span>
                    <span class="secondary">Balance</span>
                </div>
                <div>
                    <span class="primary">{{ deposit.accuredInterest | currency }}</span>
                    <span class="secondary">Accured</span>
                </div>
                <div>
                    <span class="primary">{{ deposit.rate }}%</span>
                    <span class="secondary">Rate</span>
                </div>
                <div>
                    <span class="primary">{{ deposit.expirationDate | date:'MMM yyyy' }}</span>
                    <span class="secondary">End date</span>
                </div>
            </div>
        </div>
    </section>
    <section class="credits">
        <h3>
            <span>Your Credits</span>
            <a routerLink="/cards/new" [queryParams]="{type: 'credit'}">NEW CREDIT</a>
        </h3>
        <div class="items">
            <div class="row" *ngFor="let loan of loans" [routerLink]="[loan.objectId]">
                <div class="loan-main" [ngClass]="loan.type">
                    <div>
                        <span class="primary">{{ loan.cardTypes?.original }}</span>
                        <span class="secondary">{{ loan.name }}</span>
                    </div>
                </div>
                <div>
                    <span class="primary" [ngClass]="loan.status === 'paid'? 'disabled': ''">{{ loan.amount | currency }}</span>
                    <span class="secondary">Amount</span>
                </div>
                <div>
                    <span class="primary" [ngClass]="loan.status === 'paid'? 'disabled': ''">{{ loan.paid | currency }}</span>
                    <span class="secondary">Paid amount</span>
                </div>
                <div>
                    <span class="primary" [ngClass]="loan.status === 'paid'? 'disabled': ''">{{ loan.rate }}%</span>
                    <span class="secondary">Rate</span>
                </div>
            </div>
        </div>
    </section>
</div>