@import '../../palette.scss';
@import '../../typography.scss';

$white: #FFFFFF;

.notification-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;

  top: 70px;
  right: 12px;

  .notification {
    display: flex;
    opacity: 1;

    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 22px 14px 20px 18px;
    width: 555px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999;
    pointer-events: auto;
    color: $white;
    background-color: olive;

    &.outline, &.background-1, &.background-2 {
      color: $secondary-dark-1;
    }

    i {
      font-size: 22px;
      margin-right: 13px;
    }

    span {
      margin-top: 2px;
      margin-bottom: 0;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.1px;
      line-height: 19px;
      color: inherit;
    }

    a {
      color: inherit;
      margin-top: 5px;
      margin-left: auto;

      &::before {
        content: "\f343";
        font-family: "LineAwesome";
        font-size: 18px;
        cursor: pointer;
      }
    }

    &.primary {
      background-color: $primary;
    }

    &.primary-dark {
      background-color: $primary-dark;
    }

    &.secondary-dark-1 {
      background-color: $secondary-dark-1;
    }

    &.secondary-dark-2 {
      background-color: $secondary-dark-2;
    }

    &.secondary-1 {
      background-color: $secondary-1;
    }

    &.secondary-2 {
      background-color: $secondary-2;
    }

    &.secondary-3 {
      background-color: $secondary-3;
    }

    &.secondary-4 {
      background-color: $secondary-4;
    }

    &.outline {
      background-color: $outline;
    }

    &.background-1 {
      background-color: $background-1;
    }

    &.background-2 {
      background-color: $background-2;
    }
  }

}
