<div class="notification-container">
  <div *ngFor="let notification of notifications" class="notification" [ngClass]="notification.color">
    <i class="la la-bell"></i>
    <span>{{notification.text}}</span>
    <a (click)="close(notification)"></a>
  </div>
</div>
