<section class="transactions">
    <div class="filter" [@dialog3]="status ? 'on' : 'off'">
      <div class="title" *ngIf="title">
          <caption>{{title}}</caption>
      </div>
      <div class="search" *ngIf="!smallMode" >
        <caption class="secondary-dark-1 label">Find Transaction</caption>
        <input type="text" placeholder="type to search" (keyup)="filterSearch($event); filterAll($event, filterTypeData, filterDateData)">
      </div>
      <div class="filter-2" >
        <div class="date">
          <caption class="label">Date:</caption>
          <app-date-picker (date)="filterDate($event); filterAll(filterSearchData, filterTypeData, $event)"></app-date-picker>
        </div>
        <form class="type" *ngIf="!smallMode"  [formGroup]="form">
          <caption class="label">Type</caption>
          <app-select-fields [list]="type" formControlName="item" (ngModelChange)="filterType($event); filterAll(filterSearchData, $event, filterDateData)"></app-select-fields>
        </form>
      </div>
    </div>
    <div class="list" [@dialog3]="status ? 'on' : 'off'">
      <div class="inner-list">
        <div class="transaction" *ngFor="let transaction of actualData">
          <div class="clicker" (click)="showDetails(transaction?.objectId, transaction?.ownerId)" *ngIf="transaction?.title !== ''">
            <div class="info-left">
              <div class="img">
                <li class="la" [innerHTML]="transaction?.image"></li>
              </div>
              <div class="info">
                <h2 class="text">{{ transaction.title }}</h2>
                <caption>{{ transaction.type }}</caption>
              </div>
            </div>
            <div class="info-right">
              <h2 class="text-right paid" *ngIf="transaction?.receiverId === userId" >+ ${{ transaction.amount}}</h2>
              <h2 class="text-right" *ngIf="transaction?.senderId === userId" >- ${{ transaction.amount}}</h2>
              <caption>{{ transaction.displayDate }}</caption>
            </div>
          </div>
        </div>
        <div class="default-background" *ngIf="actualData.length === 0" >
          <img src="assets/transactions/img.png" alt="">
          <h2 *ngIf="trArray?.length > 0" >No matching transactions</h2>
          <h2 *ngIf="trArray?.length === 0" >Your transactions will appear here</h2>
        </div>
      </div>
    </div>
  </section>
  <div class="modal" [@dialog]="status ? 'on' : 'off'">
      <div class="background">
        <div class="img">
          <li class="la" [innerHTML]="currentTransaction?.image"></li>
        </div>
        <div class="exit" (click)="hideDetails()"></div>
      </div>
      <div class="title">
        <h4>{{ currentTransaction?.title }}</h4>
        <div class="status paid" *ngIf="currentTransaction?.receiverId === userId" >
          <caption>
            Received
          </caption>
        </div>
        <div class="status not-paid" *ngIf="currentTransaction?.senderId === userId">
          <caption>
            Sent
          </caption>
        </div>
      </div>
      <div class="info">
        <div class="left-info">
          <h4>{{ cardNumber }}</h4>
          <caption>{{currentTransaction?.type}} </caption>
        </div>
        <div class="right-info">
          <h4 class="paid" *ngIf="currentTransaction?.receiverId === userId" >+ ${{ currentTransaction?.amount}}</h4>
          <h4 class="unpaid" *ngIf="currentTransaction?.senderId === userId" >- ${{ currentTransaction?.amount}}</h4>
          <caption>{{currentTransaction?.displayDate}} </caption>
        </div>
      </div>
      <div class="receipt">
        <caption>
          Send receipt
        </caption>
      </div>
    </div>
  <div id="page-mask" [@dialog2]="status ? 'on' : 'off'" (click)="hideDetails()"></div>
