@import '../../styles';

.label {
    text-transform: uppercase;
    font-size: 12px;
    color: $secondary-dark-1;
    margin-left: 26px;
    margin-right: 9px;
}

#page-mask {
    background: $primary-dark;
    z-index: 9;
    opacity: .85;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.img {
    font-size: 25px;
}

.modal {
    position: fixed;
    top: 25%;
    left: 39%;
    background: white;
    width: 360px;
    height: 436px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;

    .background {
        background: rgb(251, 171, 43, .7);
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 148px;
        position: relative;
        z-index: 5;

        &:before {
            content: "";
            position: absolute;
            background: white;
            border-radius: 50%;
            width: 63px;
            height: 63px;
            top: 119px;
            left: 148px;
        }

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: rgb(251, 171, 43, .4);
            width: 63px;
            height: 63px;
            top: 116px;
            right: 50%;
            z-index: 5;
            transform: translateX(49%);
            border-radius: 50%;
            border: 4px solid white;
        }

        .exit {
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 50%;

            &:after {
                font-family: 'LineAwesome';
                content: '\f343';
                display: inline-block;
                font-size: 18px;
                color: white;
            }
        }
    }

    .title {

        padding-top: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -2px;

        h4 {
            margin: 0;
            font-size: 20px;
            letter-spacing: .2px;
        }

        .status {

            margin-top: 13px;
            padding: 8px 23px;
            border-radius: 3px;
        }

        .paid {
            display: flex;
            background: rgb(109, 210, 48, .08);

            caption {
                font-family: 'Rubik', sans-serif !important;
                color: $secondary-2 !important;
            }
        }

        .not-paid {
            display: flex;
            background: rgb(254, 77, 151, .08);

            caption {
                color: $secondary-3 !important;
                font-family: 'Rubik', sans-serif !important;
            }
        }

    }

    .info {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
        padding: 0 19px;

        h4 {
            margin: 0;
            font-size: 13px;
        }

        caption {
            color: $secondary-dark-2;
            font-weight: 400;
        }

        .left-info {
            display: flex;
            flex-direction: column;

            caption {
                margin-top: 1px;

                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .right-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h4 {
                margin-top: 3px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.2px;
            }

            caption {
                margin-top: -2px;
            }
        }

        &:before {
            position: absolute;
            top: -8px;
            content: "";
            height: 1px;
            width: 320px;
            background-color: $outline;
        }

        &:after {
            position: absolute;
            bottom: -13px;
            content: "";
            height: 1px;
            width: 320px;
            background-color: $outline;
        }
    }

    .receipt {
        display: flex;
        padding-top: 35px;
        padding-left: 17px;

        caption {
            text-transform: uppercase;
            font-size: 12px !important;
            font-weight: 500 !important;
            cursor: pointer;
            color: $secondary-dark-1;

            &:before {
                transform: translateY(2px);
                font-family: 'LineAwesome';
                content: '\f1c6';
                display: inline-block;
                font-size: 18px;
                margin-right: 3px;
                color: $secondary-dark-1;
            }
        }
    }
}

.main {
    display: none;
}

.transactions {
    width: 100%;
    margin-top: 9px;
    border-radius: 3px;
    background: white;
    cursor: default;

    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 56px;
        border-bottom: thin $outline solid;

        .title {
            flex: 1;
            padding-left: 23px;

            caption {
                width: 141px;
                height: 19px;
                color: #252631;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.2px;
            }
        }

        .search {
            display: flex;
            align-items: center;
            width: 40%;

            input {
                width: 60%;
                height: 100%;
                font-family: 'Roboto';
                font-size: 12px;
                font-weight: 500;
                transform: translateY(1px);
                outline: none;
                border: none;
            }

            ::placeholder {
                color: $primary-dark;
                text-transform: uppercase;
            }

            .label {
                width: 40%;

                &::before {
                    font-family: 'LineAwesome';
                    content: '\f2eb';
                    display: inline-block;
                    font-size: 18px;
                    margin-right: 6px;
                    color: $secondary-dark-1;
                }
            }
        }

        .filter-2 {
            display: flex;
            justify-content: center;
            width: 60%;

            .date {
                display: flex;
                align-items: center;
                width: 50%;

                .label {
                    transform: translateY(-2px);

                    &::before {
                        transform: translateY(2px);
                        font-family: 'LineAwesome';
                        content: '\f15c';
                        display: inline-block;
                        font-size: 18px;
                        margin-right: 6px;
                        color: $secondary-dark-1;
                    }
                }
            }

            .type {
                display: flex;
                align-items: center;
                width: 50%;
                margin-right: 30px;

                .label {
                    transform: translateY(-2px);

                    &::before {
                        transform: translateY(2px);
                        font-family: 'LineAwesome';
                        content: '\f151';
                        display: inline-block;
                        font-size: 18px;
                        margin-right: 6px;
                        color: $secondary-dark-1;
                    }
                }
            }
        }
    }

    .list {
        position: relative;
        height: 75vh;
        margin-top: 8px;
        padding-left: 25px;
        padding-right: 19px;

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        &:after {
            content: '';
            bottom: 0;
            left: 0;
            height: 82px;
            right: 0;
            background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, .25) 3%,
                rgba(255, 255, 255, .5) 10%,
                rgba(255, 255, 255, .75) 20%,
                rgba(255, 255, 255, .99) 50%,
                rgba(255, 255, 255, 1) 100%);
            position: absolute;
        }

        .inner-list {
            height: 75vh;
            overflow-y: scroll;

            .default-background {
                display: flex;
                margin-top: 40px;
                align-items: center;
                flex-direction: column;

                h2 {
                    font-size: 16px;
                    color: $secondary-dark-1;
                }
            }

            .transaction {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 63px;
                position: relative;
                margin-bottom: .4px;

                .clicker {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                    height: 61px;
                    margin-bottom: 2.5px;

                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -3px;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $outline;
                    }
                }

                caption {
                    font-size: 14px;
                    font-family: 'Roboto';
                    color: $secondary-dark-1;
                    font-weight: 400;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                .info-left {
                    display: flex;
                    height: 100%;

                    .img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-top: 12px;
                        background: rgb(251, 171, 43, .4);
                        border-radius: 50%;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 12px;

                        .text {
                            letter-spacing: 0.2px;
                            margin: 6px 0 -3px 0;
                        }
                    }
                }

                .info-right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-right: 15px;

                    .text-right {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;
                        margin-top: 1px;
                        letter-spacing: .2px;
                    }

                    .paid {
                        color: $secondary-2;
                    }

                    caption {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

app-bank-transactions {

    app-date-picker {
        width: 73%;
        margin-right: 5px;

        .input-wrapper {
            position: relative;
            margin-top: -2px;

            ngx-daterangepicker-material {
                .md-drppicker {
                    left: -120px !important;
                    min-width: 554px;
                }
            }

            &::after {
                content: "\f110";
                font-family: "lineawesome";
                color: #778CA2;
                font-size: 18px;
                position: absolute;
                left: 100%;
                top: 1px;
            }

            input {
                cursor: pointer;
                position: relative;
                padding: 0;
                padding-left: 7px;
                width: 190px;
                height: 25px;
                border: none;
                font-weight: 500;
                width: 100%;
            }
        }
    }

    app-select-fields {

        .dropdown {
            margin-top: -1px;

            ul {
                width: 190px;
                height: fit-content;
                padding-bottom: 20px;

                li {
                    text-transform: capitalize;
                }
            }

            input {
                position: unset;
                padding: 0 !important;
                padding-left: 7px !important;
                width: 100% !important;
                height: 25px !important;
                border: none !important;
                text-transform: capitalize !important;
                font-size: 13px !important;
                font-weight: 600 !important;
            }

            &:before {
                left: 100% !important;
                top: 1px !important;
            }
        }
    }
}
