@import "../../palette.scss";
$color-1: #999ba8;
$color-2: #ffffff;
$color-3: #fff6e8;

app-date-picker {
  .input-wrapper {
    position: relative;

    input {
      width: 361.26px;
      height: 52px;
      border: 1px solid $outline;
      border-radius: 4px;
      font-size: 14px;
      font-family: "Roboto";
      font-weight: 400;
      padding: 0 45px 0 16px;
    }

    &::after {
      content: "\f15c";
      font-family: "lineawesome";
      color: $primary;
      font-size: 18px;
      position: relative;
      left: -34px;
      top: 4px;
    }

    ngx-daterangepicker-material {
      > div {
        top: 69px !important;
        padding: 0;
        -webkit-box-shadow: 0 2px 16px 0 rgba($color-1, 0.12);
        -moz-box-shadow: 0 2px 16px 0 rgba($color-1, 0.12);
        box-shadow: 0 2px 16px 0 rgba($color-1, 0.12);

        .calendar {
          margin: 0;

          &.left {
            margin-right: 30px;
          }

          .calendar-table {
            padding: 0;
            margin: 0;
            border: none;

            .table-condensed {
              border-spacing: 0;

              thead {
                > tr {
                  &:first-child {
                    height: 60px;
                    background: $background-2;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    padding: 0 17px;
                  }

                  &:last-child {
                    display: unset;
                    font-family: "Rubik";
                    font-size: 14px;
                    letter-spacing: 0.2px;
                    line-height: 17px;
                    color: $secondary-dark-1;
                    font-weight: 400;
                    margin-bottom: 20px;
                    padding: 0 12px 0 20px;
                  }

                  th {
                    &.prev {
                      background-image: none;
                      opacity: 1;

                      &::before {
                        content: "\f111";
                        font-family: "lineawesome";
                        font-size: 18px;
                        color: $secondary-dark-1;
                        font-weight: 400;
                      }

                      &:hover {
                        background: none;
                      }
                    }

                    &.next {
                      background-image: none;
                      opacity: 1;
                      transform: rotate(0);
                      -webkit-transform: rotate(0);

                      &::before {
                        content: "\f112";
                        font-family: "lineawesome";
                        font-size: 18px;
                        color: $secondary-dark-1;
                        font-weight: 400;
                      }

                      &:hover {
                        background: none;
                      }
                    }

                    &.month {
                      font-size: 16px;
                      line-height: 21px;
                      color: $primary-dark;
                      font-weight: 400;
                    }
                  }
                }
              }

              tbody {
                display: unset;
                font-family: "Rubik";
                padding: 0 12px 0 20px;

                tr {
                  td {
                    width: 30px;
                    height: 30px;

                    &.available {
                      color: $primary-dark;
                    }

                    &.in-range {
                      background: $color-3;
                      color: $primary;
                    }

                    &.active {
                      background: $primary;
                      color: $color-2;
                      border-radius: 2px;

                      &:hover {
                        background: $primary;
                      }
                    }

                    &:hover {
                      background: none;
                    }

                    &.end-date {
                      background: $primary;
                    }

                    &.off {
                      color: $secondary-dark-2;
                    }
                  }
                }
              }
            }
          }
        }

        .buttons {
          .buttons_input {
            .btn {
              margin-top: 13px;
              color: $secondary-dark-1;
              background: $background-1;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
