@import "../../palette.scss";
@import "../../typography.scss";

.wrap {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #ffffff;
  height: 100%;

  .content {
    flex: 70%;
    padding: 20px;
  }

  .menu {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    padding-left: 23px;
    padding-top: 26px;
    padding-bottom: 38px;
    background-color: #ffffff;
    height: 100%;
    border-left: 1px solid $outline;

    a {
      text-decoration: none;
      color: $secondary-dark-2;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      font-family: $Roboto;

      &:hover,
      &.active {
        color: $primary-dark;

        &::before {
          content: "";
          border-left: 2px solid $primary-dark;
          padding-left: 0px;
          position: relative;
          right: 10%;
        }
      }
    }

    .top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 150px;
    }
  }
}
