<div class="wrap">

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class='menu'>

    <div class="top">
      <a [routerLink]="['generalinformation']" routerLinkActive="active">General Information</a>
      <a [routerLink]="['security']" routerLinkActive="active">Security</a>
      <a [routerLink]="['paymentlimits']" routerLinkActive="active"
       *ngIf="deposits.length > 0 || credits.length > 0">Payment Limits</a>
      <a [routerLink]="['notifications']" routerLinkActive="active">Notifications</a>
    </div>

    <a [routerLink]="['../dashboard']" routerLinkActive="active">Dashboard</a>

  </div>

</div>
